<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" class="header">
        <ion-grid fixed >
          <ion-row>
            <ion-col size="2" sizeMd="1">
              <ion-icon name="arrow-back-circle" (click)="goBack()" class="iconBack"></ion-icon>
            </ion-col>
            <ion-col size="8" style="text-align: center; " sizeMd="10">
              <ion-img src="assets/images/logo/logo_toyota_blanco.png" class="logoRed"></ion-img>
            </ion-col>
            <ion-col size="2" sizeMd="1">
              <ion-icon name="menu-outline" (click)="openMenu()" class="iconMenu2"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <app-skeleton *ngIf="loading"></app-skeleton>


      <ion-col size="12" style="text-align: center;" *ngIf="!loading">
        <p class="titlePage">Comparación</p>
      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading">
        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXl="4" sizeLg="4" sizeMd="4" sizeSm="6" sizeXs="6" *ngFor="let vehicle of comparison; let i = index" class="colCardVehicles">

              <ion-card class="cardVehicles" [style.backgroundImage]="'url( assets/images/logo/poster_lateral.svg )'">
                <ion-icon name="image" *ngIf="vehicle.images?.length === 0" class="iconCard"></ion-icon>
                <ion-icon name="image" *ngIf="vehicle.image === null" class="iconCard"></ion-icon>
                <ion-img [src]="vehicle.images[0].img" *ngIf="vehicle.images?.length"></ion-img>
                <ion-img [src]="vehicle.image.img" *ngIf="vehicle.image"></ion-img>
                
                <!-- <ion-img [src]="vehicle.image.img" *ngIf="vehicle.image !=='' && vehicle.image"></ion-img> -->
                <ion-card-content>
                  <p>
                    {{vehicle.model}}
                  </p>
                  <p>
                    {{vehicle.year}}
                  </p>
                  <p [style.color]="evaluateTitles(vehicle.titles)">
                    {{vehicle.titles}}
                  </p>
                  <p [style.color]="vehicle.priceColor">
                    {{vehicle.price | currency:'USD':true:'1.0-0'}}
                  </p>
                  <p>
                    {{vehicle.city}}
                  </p>
                  <p [style.color]="vehicle.kmColor">
                    {{vehicle.km | number}} kms
                  </p>
                  <p>
                    {{vehicle.concesionary}}
                  </p>
                  <p *ngIf="vehicle.general_condition" [style.color]="evaluateStatus(vehicle.general_condition)">
                    {{ vehicle.general_condition && vehicle.general_condition < 76 ? '': vehicle.general_condition < 76 ? 'Malo' : vehicle.general_condition >= 76 && vehicle.general_condition < 86 ? 'Regular' : vehicle.general_condition >= 86 && vehicle.general_condition < 96 ? 'Bueno' : 'Excelente' }}
                  </p>
                  <!-- <p *ngIf="!vehicle.general_condition" style="color: #EB0A1E;">
                    Malo
                  </p> -->
                </ion-card-content>
                <ion-button expand="block" shape="round" style="width: 30px;position: absolute;z-index: 999999;top: 0;left: 0;" (click)="deleteComparison(i)">
                  X
                </ion-button>
              </ion-card>

            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading" class="colKm">
        <ion-list>
          <ion-list-header>
            Kilometraje
          </ion-list-header>
          <ion-item *ngFor="let vehicle of comparison">
            
            <p style="font-size: 13px;" *ngIf="vehicle.firstKm===true && vehicle.equalKm===false">
              {{vehicle.model}}: Tiene un kilometraje de {{vehicle.km | number}}Kms Es el mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.secondKm===true && vehicle.equalKm===false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un kilometraje de {{vehicle.km | number}}Kms Es el segundo mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.thirdKm===true && vehicle.equalKm===false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un kilometraje de {{vehicle.km | number}}Kms Es el tercer mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.fourthKm===true && vehicle.equalKm===false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un kilometraje de {{vehicle.km | number}}Kms Es el cuarto mejor que los demás carros comparados.
            </p>
          </ion-item>
          <ion-item *ngIf="arrayEqualKm.length>0">
            <p  style="font-size: 13px;">
              {{renderIqualKm()}}
            </p>
          </ion-item>
        </ion-list>

      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading" class="colPrice">
        <ion-list>
          <ion-list-header>
            Precio
          </ion-list-header>
          <ion-item *ngFor="let vehicle of comparison">
            <p style="font-size: 13px;" *ngIf="vehicle.firstPrice === true && vehicle.equalPrice === false">
              {{vehicle.model}}: Tiene un precio de {{vehicle.price | currency:'USD':true:'1.0-0'}} Es el mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.secondPrice === true && vehicle.equalPrice === false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un precio de {{vehicle.price | currency:'USD':true:'1.0-0'}} Es el segundo mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.thirdPrice === true && vehicle.equalPrice === false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un precio de {{vehicle.price | currency:'USD':true:'1.0-0'}} Es el tercer mejor que los demás carros comparados.
            </p>
            <p *ngIf="vehicle.fourthPrice === true && vehicle.equalPrice === false" style="font-size: 13px;">
              {{vehicle.model}}: Tiene un precio de {{vehicle.price | currency:'USD':true:'1.0-0'}} Es el cuarto mejor que los demás carros comparados.
            </p>
            
          </ion-item>
          <ion-item *ngIf="arrayEqualPrice.length>0">
            <p  style="font-size: 13px;">
              {{renderIqualPrice()}}
            </p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading" class="colTitles">
        <ion-list>
          <ion-list-header>
            Títulos
          </ion-list-header>
          <ion-item *ngFor="let vehicle of comparison">
          <p *ngIf="bestTitles(vehicle.titles)===1" style="font-size: 13px;">
            Tiene un cantidad de titulares de {{vehicle.titles}}. Es el mejor carro a nivel de titulares.
          </p>

          <p *ngIf="bestTitles(vehicle.titles)===2" style="font-size: 13px;">
            Tiene un cantidad de titulares de {{vehicle.titles}}. Es el segundo mejor carro a nivel de titulares.
          </p>

          <p *ngIf="bestTitles(vehicle.titles)===3" style="font-size: 13px;">
            Tiene un cantidad de titulares de {{vehicle.titles}}. Es el posee mayor nivel de titulares.
          </p>
          </ion-item>
        </ion-list>
      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading" class="colStates">
        <ion-list>
          <ion-list-header>
            Estado del vehículo
          </ion-list-header>

          <div *ngFor="let vehicle of comparison">
            <ion-item  *ngIf="vehicle.general_condition">
              <p *ngIf="vehicle.general_condition < 76" style="font-size: 13px;">
                Tiene un estado del vehículo en mal estado. Es el peor carro a nivel de estado.
              </p>
  
              <p *ngIf="vehicle.general_condition >= 76 && vehicle.general_condition < 86" style="font-size: 13px;">
                Tiene un estado del vehículo en regular estado. Es el segundo peor carro a nivel de estado.
              </p>
  
              <p *ngIf="vehicle.general_condition >= 86 && vehicle.general_condition < 96" style="font-size: 13px;">
                Tiene un estado del vehículo en buen estado. Es el segundo mejor carro a nivel de estado.
              </p>
  
              <p *ngIf="vehicle.general_condition < 96" style="font-size: 13px;">
                Tiene un estado del vehículo en excelente estado. Es el mejor carro a nivel de estado.
              </p>
  
            </ion-item>

            <ion-item *ngIf="!vehicle.general_condition">
              <p style="font-size: 13px">
                {{vehicle.model}}:  No se encontró información del estado del vehículo.
              </p>
            </ion-item>
          </div>
        </ion-list>
      </ion-col>

      <ion-col size="12" *ngIf="comparison.length > 0 && !loading" class="colRecomendation">
        <ion-list>
          <ion-list-header>
            Nuestra recomendación
          </ion-list-header>
          <ion-item>
            <p style="font-size: 13px;text-align: justify;">
              {{conclution()}}
            </p>
          </ion-item>
        </ion-list>

      </ion-col>

      <ion-col size="12" *ngIf="comparison.length === 0 && !loading" style="text-align: center;">
        <ion-icon name="help-circle" class="iconNoInfo"></ion-icon>
        <p class="titleNoInfo">No se encontraron vehículos</p>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
