/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

*{
  font-family: 'Poppins', sans-serif;
}

.btnRed{
  --background: #EB0A1E !important;
  --color: white !important;
}

.btnYell{
  --background: #ebc90a !important;
  --color: #000 !important;
  font-weight: 600;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: auto !important;
}

.btnSaveRed{
  --background: #EB0A1E !important;
  --color: white !important;
  width: 80%;
  height: 50px;
  margin: auto;
}

.btnOutlineRed{
  --border-color: #EB0A1E !important;
  --color: #EB0A1E !important;
  // --background: white !important;
  width: 80% !important;
  height: 50px !important;
  margin: 15px auto auto auto !important;
}

.iconRed{
  color: #EB0A1E !important;
}

.radioRed{
  --color-checked: #EB0A1E !important;
  --color-unchecked: #EB0A1E !important;
  --color: #EB0A1E !important;
}

.titlePage{
  font-size: 22px !important;
  font-weight: bold !important;
}

.titleSwiper{
  font-size: 20px !important;
}

.subtitleSwiper{
  color: #5D5D5D !important; 
  font-size: 12px !important;
}

.iconSwipper{
  font-size: 150px !important;
}

.spanLabel{
  font-size: 15px !important;
  color: #787878 !important;
}

.spanLabel2{
  font-size: 15px !important;
  color: #1c1c1d !important;
}

.spanLabelMecF{
  font-size: 15px;
  color: #787878;
  margin-bottom: 10px;
}

.spanGenCon{
  font-size: 12px !important;
  font-weight: bold !important;
}

.pText {
  font-size: 15px !important;
  font-weight: 900 !important;
  color: #1c1c1d !important;
  text-transform: capitalize !important;
}

.rowPriceEdit{
  border: 1px solid #b3b3b3 !important; 
  border-radius: 15px !important
  ;height: 50px !important; 
  width: 180px !important; 
  margin: auto !important;
}

.segment-green{
  --color-checked: #00A651 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(0, 166, 81,0.1);
  opacity: 1 !important;
}

.segment-orange{
  --color-checked: #F7941D !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(247, 148, 29,0.1);
  opacity: 1 !important;
}

.segment-red{
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

.segment-yellow{
  --color-checked: #cc9a06 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(249, 214, 22,0.1);
  opacity: 1 !important;
}

.itemGroupSegment{
  margin-left: -5px !important;
}
.itemSegment{
  margin-left: -5px !important;
}
.rowSegment{
  margin-left: -5px !important;
}
.colSegment{
  margin-left: 2px !important;
}

.titleHeader{
  font-size: 25px !important;
  margin-top: 30px !important;
}

.labelBrand{
  font-size: 15px !important; 
  color: #353535 !important; 
  margin: 10px 0px !important;
  margin: 15px auto !important;
}

.labelBrandPass{
  font-size: 14px !important; 
  color: #353535 !important; 
}

.titleCardHome{
  font-size: 13px !important;
}

#searchbarHome{
  --border-radius: 30px !important;
}

#searchbarUserlist{
  --border-radius: 30px !important;
}

ion-accordion{
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  margin: 5px auto !important;
}

ion-radio {
  --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  --color-unchecked: #EB0A1E !important;
  --inner-border-radius: 2px
}

ion-segment-button {
  ion-label {
    font-size: 10px !important;
  }
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

ion-segment {
  // margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media screen and (width:414px){

}

@media screen and (width:411px){

}

@media screen and (width:375px){
  .spanLabel{
    font-size: 14px !important;
  }
  .pText{
    font-size: 14px !important;
  }
  .titleHeader{
    font-size: 21px !important;
    margin-top: 37px !important;
  }
}

@media screen and (width:360px){

}

@media screen and (width:320px){

}
