/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

@font-face {
  font-family: 'ToyotaBold';
  src: url('/assets/fonts/Display\ fonts/Display\ Bold/ToyotaDisplay_Bd.ttf');
}

@font-face {
  font-family: 'ToyotaRegular';
  src: url('/assets/fonts/Display\ fonts/Display\ Regular/ToyotaDisplay_Rg.ttf');
}

@font-face {
  font-family: 'ToyotaHeavy';
  src: url('/assets/fonts/Display\ fonts/Display\ Heavy/ToyotaDisplay_He.ttf');
}

@font-face {
  font-family: 'ToyotaTextBold';
  src: url('/assets/fonts/Text\ fonts/Text\ Bold/ToyotaText_Bold.ttf');
}

@font-face {
  font-family: 'ToyotaTextBoldItalic';
  src: url('/assets/fonts/Text\ fonts/Text\ Bold\ Italic/ToyotaText_BdIt.ttf');
}

@font-face {
  font-family: 'ToyotaItalic';
  src: url('/assets/fonts/Text\ fonts/Text\ Italic/ToyotaText_It.ttf');
}

@font-face {
  font-family: 'ToyotaTextRegular';
  src: url('/assets/fonts/Text\ fonts/Text\ Regular/ToyotaText_Rg.ttf');
}


*{
  font-family: 'ToyotaRegular';
  font-weight: 600;
}

ion-menu{
  font-family: "ToyotaRegular" !important;
}

.header{
  background-color: black;
  color: white;
  .flagVnzl{
    width: 30px !important;
    height: 30px !important;
    margin: auto !important;
  }

  .logoWhite{
    width: 45px !important;
  }

  .headerTitle{
    font-size: 25px !important;
    margin-top: 40px !important;
  }

  .badgeNotify{
    position: absolute !important;
    top: 30% !important;
    right: 22% !important;
  }

  .iconNotify{
    font-size: 35px !important; 
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin-top: 85% !important;
  }
  .iconMenu{
    font-size: 35px !important; 
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin-top: 85% !important;
  }
  .iconBack{
    color: white !important;  
    font-size: 40px !important;  
    margin: auto !important;
    margin-top: 35px !important;
  }
  .logoRed{
    width: 80px !important;
    height: 80px !important; 
    margin: 15px auto auto auto !important;
  }
  .iconMenu2{
    color: white !important;  
    font-size: 40px !important;  
    margin: auto !important;
    margin-top: 35px !important;
  }
}

.btnRed{
  --background: #EB0A1E !important;
  --color: white !important;
}

.btnGreen{
  --background: #198754!important;
  --color: #fff;
}

.btnYell{
  --background: #ebc90a !important;
  --color: #000 !important;
  font-weight: 600;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: auto !important;
}

.btnSaveRed{
  --background: #EB0A1E !important;
  --color: white !important;
  width: 80%;
  height: 50px;
  margin: auto;
}

.btnOutlineRed{
  --border-color: #EB0A1E !important;
  --color: #EB0A1E !important;
  // --background: white !important;
  width: 80% !important;
  height: 50px !important;
  margin: 15px auto auto auto !important;
}

.btnOutlineBlackBrand{
  width: 100% !important;
}

.iconRed{
  color: #EB0A1E !important;
}

.radioRed{
  --color-checked: #EB0A1E !important;
  --color-unchecked: #EB0A1E !important;
  --color: #EB0A1E !important;
}

.titlePage{
  font-size: 22px !important;
  font-weight: bold !important;
}

.titleSwiper{
  font-size: 20px !important;
}

.subtitleSwiper{
  color: #5D5D5D !important; 
  font-size: 12px !important;
}

.iconSwipper{
  font-size: 150px !important;
}

.spanLabel{
  font-size: 15px !important;
  color: #787878 !important;
}

.spanLabel2{
  font-size: 15px !important;
  color: #1c1c1d !important;
}

.spanLabelMecF{
  font-size: 15px;
  color: #787878;
  margin-bottom: 10px;
}

.spanGenCon{
  font-size: 12px !important;
  font-weight: bold !important;
}

.pGenCon{
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 10px auto !important
}

.pText {
  font-size: 15px !important;
  font-weight: 900 !important;
  color: #1c1c1d !important;
  text-transform: capitalize !important;
}

.rowPriceEdit{
  border: 1px solid #b3b3b3 !important; 
  border-radius: 15px !important
  ;height: 50px !important; 
  width: 180px !important; 
  margin: auto !important;
}

.segment-green{
  --color-checked: #00A651 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(0, 166, 81,0.1);
  opacity: 1 !important;
}

.segment-orange{
  --color-checked: #F7941D !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(247, 148, 29,0.1);
  opacity: 1 !important;
}

.segment-red{
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

.segment-yellow{
  --color-checked: #cc9a06 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(249, 214, 22,0.1);
  opacity: 1 !important;
}

.itemGroupSegment{
  margin-left: -5px !important;
}

.itemSegment{
  margin-left: -5px !important;
}

.rowSegment{
  margin-left: -5px !important;
}

.colSegment{
  margin-left: 2px !important;
}

.titleHeader{
  font-size: 25px !important;
  margin-top: 30px !important;
}

.labelBrand{
  font-size: 15px !important; 
  color: #353535 !important; 
  margin: 10px 0px !important;
  margin: 15px auto !important;
}

.labelBrandPass{
  font-size: 14px !important; 
  color: #353535 !important; 
}

.titleCardHome{
  font-size: 13px !important;
}

.titleDatosPlus{
  font-size: 20px !important;
  color: #000 !important;
  margin: 10px 0px !important;
  font-weight: bold !important;
}

.datoPlusTitle{
  font-size: 18px !important;
  font-weight: bold !important;
  }

.datoPlusSubtitle{
  font-size: 14px !important;
  color: #898989 !important;
}

.datoPlusImg{
  width: 60% !important;
  margin: 20px 0px !important;
}

.sidebarUsename{
  font-size: 20px !important; 
  margin: 20px auto auto 20px !important;
}

.sidebarTypeuser{
  font-size: 15px !important; 
  color: #fff !important;
  margin: 0px auto auto 25px !important;
}

.iconNoInfo{
  font-size: 150px !important;
  margin: 10% auto !important;
  
}

.rowPassNewMec{
  border: 1px solid #b3b3b3 !important; 
  border-radius: 15px !important;
  height: 50px !important;
}

.br280{
  display: none !important;
}

.br360{
  display: none !important;
}

.br375{
  display: none !important;
}

.radioSmall{
  margin: auto 3px !important;
}

.radioBig{
  margin: auto 3px !important;
}

#searchbarHome{
  --border-radius: 30px !important;
}

#searchbarUserlist{
  --border-radius: 30px !important;
}

.colSearchBar{
  z-index: 9999;
  margin-top: 28% !important;
  position: absolute;
  left: 2px;
}

.colFilter{
  background-color: #E3E3E3;
  // padding-top: 30px !important;
  .colResultFilter{
    margin-top: 4%;
    text-align: left !important;
    span{
      font-size: 14px;
      font-weight: 600;
    }
  }
  .colIconFilter{
    ion-icon{
      font-size: 25px;
      margin: -5px 10px;
    }
    span{
      font-size: 14px;
      font-weight: 600;
    }
    margin-top: 4%;
    text-align: right !important;
  }

  height: 55px;
}

.filterOptions{
  ion-row{
    ion-col{
      font-size: 12px;
      color: #1c1c1d !important;
      font-weight: 700
    }
  }
}

ion-accordion{
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  margin: 5px auto !important;
}

ion-radio {
  --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  --color-unchecked: #EB0A1E !important;
  --inner-border-radius: 2px
}

ion-segment-button {
  ion-label {
    font-size: 10px !important;
  }
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

ion-segment {
  // margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width:576px){

  .header{
    .iconMenu{
      margin-top: 55% !important;
      font-size: 45px !important;
    }
  }

  app-list-user-admin{
    .card{
      .iconListUser{
        font-size: 110px !important;
        margin: 25px 20% !important;
      }
    .colInfoListUser{
      text-align: center !important;
    }

    }
  }
}

@media screen and (max-width: 480px){
  .header{
    .iconMenu{
      margin-top: 70% !important;
    }
  }

  app-list-user-admin{
    .card{
      .iconListUser{
        font-size: 110px !important;
        margin: 25px 20% !important;
      }
    .colInfoListUser{
      text-align: center !important;
    }

    }
  }

  app-create-user-admin{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-brand{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }

    }
  }

  app-graphics-admin{
    .header{
      .iconMenu{
        margin-top: 50% !important;
      }
    }
    .cardChart{
      width: 90% !important;
      canvas{
        width: 100% !important;
      }
    }
    .colCardGraphImg{

    }
    .colCardGraphInfo{
      text-align: center !important;
    }
  }

  app-graphics{
    .header{
      .iconMenu{
        margin-top: 50% !important;
      }
    }
    .cardChart{
      width: 90% !important;
      canvas{
        width: 100% !important;
      }
    }

    .colCardGraphInfo{
      text-align: center !important;
    }
  }

  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 14px !important;
      }
      .titleCardHome{
        font-size: 15px !important;
      }
    }

    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .badgeNotify{
        position: absolute !important;
        top: 30% !important;
        right: 22% !important;

      }
      .iconNotify{
        
        margin-top: 70% !important;
      }
    }

    
  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 14px !important;
      }
      .titleCardHome{
        font-size: 15px !important;
      }
    }

    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .badgeNotify{
        position: absolute !important;
        top: 30% !important;
        right: 22% !important;

      }
      .iconNotify{
        
        margin-top: 70% !important;
      }
    }

    
  }

  app-car-detail{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-inspections{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-mechanic-file{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-mechanical-file-detail{
    ion-segment{
      margin-left: 0px !important;
    }
  }

  app-mechanical-file-detail-admin{
    ion-segment{
      margin-left: 0px !important;
    }
  }

  app-mechanical-file-detail-mechanic{
    ion-segment{
      margin-left: 0px !important;
    }
  }
}

@media screen and (max-width: 450px){
  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 13px !important;
      }
      .titleCardHome{
        font-size: 14px !important;
      }
    }
  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 13px !important;
      }
      .titleCardHome{
        font-size: 14px !important;
      }
    }
  }
}

@media screen and (max-width:414px){
  .header{
    .iconMenu{
      margin-top: 80% !important;
    }
  }

  
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }
  .sidebarUsename{
    font-size: 19px !important;
    margin: 0px auto auto 15px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 15px !important;
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-create-user-admin{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-brand{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-graphics-admin{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .logoRed {
        width: 70px !important;
        height: 70px !important;
        margin: 22px auto auto auto !important;
    }
  }

  }

  app-graphics{
    .header{
      .iconMenu{
        margin-top: 60% !important;
      }
      .logoRed {
        width: 70px !important;
        height: 70px !important;
        margin: 22px auto auto auto !important;
    }
  }

  }

  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 12px !important;
      }
      .titleCardHome{
        font-size: 13px !important;
      }
    }

    .header{
      .badgeNotify{
        right: 15% !important;
        z-index: 99999999;
      }
    }

  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 12px !important;
      }
      .titleCardHome{
        font-size: 13px !important;
      }
    }

    .header{
      .badgeNotify{
        right: 15% !important;
        z-index: 99999999;
      }
    }

  }

  app-car-detail{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-inspections{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-mechanic-file{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-mechanical-file-detail{
    ion-segment{
      margin-left: -10px !important;
    } 
  }

  app-mechanical-file-detail-admin{
    ion-segment{
      margin-left: -10px !important;
    } 
  }

  app-mechanical-file-detail-mechanic{
    ion-segment{
      margin-left: -10px !important;
    } 
  }
}

@media screen and (max-width:412px) {
  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (max-width:411px){
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
  
}

@media screen and (max-width:390px) {

  .header{
    .iconMenu{
      margin-top: 85% !important;
    }
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 18px !important;
    margin: 0px auto auto 20px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 15px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

    .radioSmall{
      margin: auto 2px !important;
    }
    .radioBig{
      margin: auto 2px !important;
    }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-add-mechanic-file{
    ion-list {
      text-align: center !important;
      .radioSmall{
        margin: auto 29px !important;
      }
      .radioBig{
        margin: auto 16px !important;
      }
    }
  }

  app-mechanical-file-detail{
    ion-segment{
      margin-left: -15px !important;
    } 
  }

  app-mechanical-file-detail-admin{
    ion-segment{
      margin-left: -15px !important;
    } 
  }

  app-mechanical-file-detail-mechanic{
    ion-segment{
      margin-left: -15px !important;
    } 
  }
}

@media screen and (max-width:393px) {
  .header{
    .iconMenu{
      margin-top: 85% !important;
    }
  }
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 18px !important;
    margin: 0px auto auto 20px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 15px !important;
    }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (max-width:375px){

  .header{
    .iconMenu{
      margin-top: 90% !important;
    }
  }
  .spanLabel{
    font-size: 14px !important;
  }
  .pText{
    font-size: 14px !important;
  }
  .titleHeader{
    font-size: 21px !important;
    margin-top: 37px !important;
  }
  .pGenCon{
    font-size: 15px !important;
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 19px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 14px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

    // .radioSmall{
    //   margin: auto 15px !important;
    // }
    // .radioBig{
    //   margin: auto 7px !important;
    // }
    
    // .br280{
    //   display: block !important;
    // }
    // .br280notDis{
    //   display: none !important;
    // }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-create-user-admin{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-brand{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-graphics-admin{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .logoRed {
        width: 65px !important;
        height: 65px !important;
        margin: 22px auto auto auto !important;
      }
    }
  }

  app-graphics{
    .header{
      .iconMenu{
        margin-top: 70% !important;
      }
      .logoRed {
        width: 65px !important;
        height: 65px !important;
        margin: 22px auto auto auto !important;
      }
    }
  }

  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .badgeNotify{
        right: 10% !important;
        z-index: 99999999;
      }
    }

  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .badgeNotify{
        right: 10% !important;
        z-index: 99999999;
      }
    }

  }

  app-car-detail{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-inspections{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
    }
  }

  app-add-mechanic-file{
    .header{
      .iconMenu{
        margin-top: 80% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .logoRed{
        width: 65px !important;
        height: 65px !important;
        margin: 22px auto auto auto !important;
      }
    }
  }

  app-mechanical-file-detail{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }

  app-mechanical-file-detail-admin{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }

  app-mechanical-file-detail-mechanic{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }
}

@media screen and (max-width:360px){
  .header{
    .iconMenu{
      margin-top: 90% !important;
    }
  }
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 14px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;
      }
    }

    .radioSmall{
      margin: auto 15px !important;
    }
    .radioBig{
      margin: auto 13px !important;
    }

    .sidebarUsename{
      font-size: 19px !important;
    }
  
    .sidebarTypeuser{
      margin: 0px auto auto 20px !important;
    }

  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-create-user-admin{
    .header{
      .headerTitle{
        font-size: 24px !important;
      }
    }
  }

  app-add-brand{
    .header{
      .headerTitle{
        font-size: 24px !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .headerTitle{
        font-size: 21px !important;
      }
    }
  }

  app-graphics-admin{
    .colDateCar{
      text-align: center;
      margin: auto 25% !important;
    }
    .colPriceCar{
      text-align: center;
      margin: auto 30%!important;
      .priceCar{
        font-size: 12px !important;
      }
    }
  }

  app-graphics{
    .colDateCar{
      text-align: center;
      margin: auto 25% !important;
    }
    .colPriceCar{
      text-align: center;
      margin: auto 30%!important;
      .priceCar{
        font-size: 12px !important;
      }
    }
  }

  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .badgeNotify{
        top: 35% !important;
      }
      .headerTitle{
        font-size: 25px !important;
      }

      .iconNotify{
        margin-top: 100% !important;
      }
    }

  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .badgeNotify{
        top: 35% !important;
      }
      .headerTitle{
        font-size: 25px !important;
      }

      .iconNotify{
        margin-top: 100% !important;
      }
    }

  }

  app-add-vehicle{
    .datoPlusTitle{
      font-size: 17px !important;
    }
    .datoPlusSubtitle {
      font-size: 13px !important;
    }

    ion-checkbox{
      margin: 0px 0px 15px 0px !important;
    }

  }

  app-car-detail{
    .header{
      .iconBack{
        margin-top: 40px !important;
      }
      .logoRed{
        width: 65px !important;
        height: 65px !important;
        margin: 22px auto auto auto !important;
      }
      .iconMenu{
        margin-top: 90% !important;
      }
    }
  }

  app-inspections{
    .header{
      .headerTitle{
        font-size: 24px !important;
      }
    }
  }

  app-add-mechanic-file{
    .header{
      .headerTitle{
        font-size: 24px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .header{
      .iconBack{
        margin-top: 40px !important;
      }
      .logoRed{
        width: 65px !important;
        height: 65px !important;
        margin: 22px auto auto auto !important;
      }
      .iconMenu{
        margin-top: 90% !important;
      }
    }
  }

  app-mechanical-file-detail{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }

  app-mechanical-file-detail-admin{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }

  app-mechanical-file-detail-mechanic{
    .colSegment{
      width: 365px !important;
      margin-left: -10px !important;
    }
    ion-segment{
      margin-left: -10px !important;
      // ion-segment-button{
      //   margin: auto 16px !important;
      // }
    }
    .br375{
      display: block !important;
    }
  }
}

@media screen and (max-width:350px){
  .header{
    .iconMenu{
      margin-top: 100% !important;
    }
  }

  .cardVehicles{
    margin: auto !important;
  }

  app-add-model-vehicle{
    .colDateCar{
      .dateCar{
        font-size: 9px !important;
      }
    }
    .colPriceCar{
      .priceCar{
        font-size: 11px !important;
      }
    }
  }
}

@media screen and (max-width: 340px){
  .colCardVehicles{
    margin: 3% 20% !important;
  }
}

@media screen and (max-width:320px){

  .header{
    .iconMenu{
      margin-top: 110% !important;
    }
  }
  
  app-list-brand-admin, app-list-user-admin, app-list-model-admin,  app-list-mechanic-admin, app-list-admin-concesionary{
    .header{
      .headerTitle{
        font-size: 22px !important;
      }
      .iconMenu {
        margin-top: 85% !important;
      }
    }
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 19px !important;
    margin: 0px auto auto 15px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 15px !important;
  }

  .cardVehicles{
    margin: auto !important;
  }
  
  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-list-user-admin{
    .card{
      .iconListUser{
        font-size: 95px !important;
        margin: 25px 20% !important;
      }
    .colInfoListUser{
      text-align: center !important;
    }

    }
  }

  app-create-user-admin{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }
    }
  }

  app-add-brand{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 18px !important;
      }
    }
  }

  app-graphics-admin{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 18px !important;
      }
    }
  }

  app-graphics{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 18px !important;
      }
    }
  }

  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .logoWhite{
        width: 40px !important;
      }
      .badgeNotify{
        top: 35% !important;
      }
      .headerTitle{
        font-size: 22px !important;
      }
      .iconMenu{
        margin-top: 110% !important;
      }

      .iconNotify{
        margin-top: 110% !important;
      }
    }

  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .logoWhite{
        width: 40px !important;
      }
      .badgeNotify{
        top: 35% !important;  
      }
      .headerTitle{
        font-size: 22px !important;
      }
      .iconMenu{
        margin-top: 110% !important;
      }

      .iconNotify{
        margin-top: 110% !important;
      }
    }

  }

  app-add-vehicle{
    .datoPlusTitle{
      font-size: 16px !important;
    }
    .datoPlusSubtitle {
      font-size: 12px !important;
    }

    ion-checkbox{
      margin: 0px 0px 20px 0px !important;
    }
  }

  app-car-detail{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }
      .logoRed{
        width: 60px !important;
      height: 60px !important;
      margin: 24px auto auto auto !important;
      }
    }
  }

  app-inspections{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }
    }
    .titlePage{
      font-size: 16px !important;
    }
    
    ion-card{
      ion-card-content{
        ion-label {
          font-size: 11px !important;
        }
        .spanData{
          font-size: 11px !important;
        }
      }
    }

  }

  app-add-mechanic-file{
    .header{
      .iconMenu{
        margin-top: 90% !important;
      }
      .iconBack{
        margin-top: 40px !important;
      }
      .headerTitle{
        font-size: 21px !important;
      }
      .logoRed{
        width: 60px !important;
      height: 60px !important;
      margin: 24px auto auto auto !important;
      }
    }
  }
}

@media screen and (max-width:299px) {
  app-add-mechanic-file{
    ion-list {
      text-align: center !important;
      .radioSmall{
        margin: auto 15px !important;
      }
      .radioBig{
        margin: auto 5px !important;
      }
    }
  }
}

@media screen and (max-width:295px) {
  app-home-seller{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .logoWhite{
        width: 35px !important;
      }
      .badgeNotify{
        top: 35% !important;
      }
      .headerTitle{
        font-size: 20px !important;
      }
      .iconMenu{
        margin-top: 115% !important;
      }

      .iconNotify{
        margin-top: 115% !important;
      }
    }

  }

  app-home-mechanic{
    ion-card{
      ion-card-subtitle{
        font-size: 11px !important;
      }
      .titleCardHome{
        font-size: 12px !important;
      }
    }

    .header{
      .logoWhite{
        width: 35px !important;
      }
      .badgeNotify{
        top: 35% !important;
      }
      .headerTitle{
        font-size: 20px !important;
      }
      .iconMenu{
        margin-top: 115% !important;
      }

      .iconNotify{
        margin-top: 115% !important;
      }
    }

  }
}

@media screen and (max-width: 280px){
  ion-accordion-group{
    width: 100% !important;
    margin: 15px auto !important;
  }

  ion-header{
    ion-toolbar{
      ion-buttons{
        ion-button{
          font-size: 10px !important;
        }
      }
      ion-title{
        font-size: 12px !important;
      }
    }
  }

  .header{
    .flagVnzl{
      width: 30px !important;
      height: 30px !important;
      margin: auto !important;
    }
  
    .logoWhite{
      width: 30px !important;
    }
  
    .headerTitle{
      font-size: 20px !important;

    }
  
    .badgeNotify{
      position: absolute !important;
      top: 30% !important;
      right: 0% !important;
      z-index: 999999999;
    }
  
    .iconNotify{
      font-size: 30px !important;
      margin-top: 100% !important;
    }

    .iconMenu{
      font-size: 30px !important;
      margin-top: 120% !important;
    }

    .iconBack{
      font-size: 35px !important;
    }

    .logoRed{
      width: 60px !important;
    }

    .iconMenu2{
      font-size: 35px !important;
    }
  }

  app-add-vehicle{
    ion-input{
      min-height: 45px !important;
    }

    .titleDatosPlus{
      font-size: 18px !important;
    }

    .datoPlusTitle{
      font-size: 14px !important;
    }

    .datoPlusSubtitle{
      font-size: 12px !important;
    }
    
    .datoPlusImg{
      width: 70% !important;
    }

    ion-card{
      ion-card-title{
        font-size: 16px !important;
      }

      ion-button{
        font-size: 11px !important;
      }

      ion-card-content{
        ion-card-title{
          font-size: 11px !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  .sidebarUsename{
    font-size: 13px !important;
  }
  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 18px !important;
  }

  #openFilterVehicles{
    font-size: 11px !important;
  }

  .btnExcel{
    font-size: 11px !important;
  }

  .filterGraphic{
    ion-title{
      font-size: 15px !important;
    }
  }

  app-add-mechanic{
    ion-input{
      min-height: 45px !important;
    }

    .btnSaveRed{
      height: 40px !important;
      font-size: 13px !important;
      margin: 15px auto !important;
    }

    .rowPassNewMec{
      height: 45px !important;
    }
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 13px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

      // ion-radio{
      //   margin: auto 10px !important;
      // }

    .radioSmall{
      margin: auto 15px !important;
    }
    .radioBig{
      margin: auto 7px !important;
    }
    
    .br280{
      display: block !important;
    }
    .br280notDis{
      display: none !important;
    }

    .btnSaveRed{
      width: 70% !important;
      height: 40px !important;
      font-size: 13px !important;
    }

    ion-fab-button{
      height: 50px !important;
      width: 50px !important;
    }

  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 13px !important;
    }
    .cardDataPlus{
      span{
        font-size: 11px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 13px !important;
    }
    .cardDataPlus{
      span{
        font-size: 11px !important;
      }
    }
  }

  app-home-admin{
    .cardVehicles{
      margin: auto !important;
    }
  } 

  app-list-user-admin{
    .card{
      .iconListUser{
        font-size: 80px !important;
        margin: 65% 20% !important;
      }
    .colInfoListUser{
      text-align: center !important;
    }

    ion-img{
      margin: 75% 0% !important;
    }

    }
  }

  app-create-user-admin{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
    }
  }

  app-add-brand{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
    }
  }

  app-add-model-vehicle{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
      .headerTitle{
        font-size: 15px !important;
      }
    }
  }

  app-graphics-admin{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
      .logoRed {
        width: 55px !important;
        height: 55px !important;
        margin: 30px auto auto auto !important;
      }
    }
  }

  app-graphics{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
      .logoRed {
        width: 55px !important;
        height: 55px !important;
        margin: 30px auto auto auto !important;
      }
    }
  }

  app-inspections{
    .header{
      .iconMenu{
        margin-top: 130% !important;
      }
    }
  }

  app-add-mechanic-file{
    .header{
      .header{
        .iconMenu{
          margin-top: 130% !important;
        }
      }
    }
  }
}

@media screen and (max-width:260px) {
  
  .colFilter{
    height: 40px !important;
    .colResultFilter{
      margin-top: 0% !important;
      span{
        font-size: 12px !important;
      }
    }
    .colIconFilter{
      margin-top: 0% !important;
      ion-icon{
        font-size: 20px !important;
      }
      span{
        font-size: 12px !important;
      }
    }
  }
  .colCardVehicles{
    margin: 3% 15% !important;
  }
}
