/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';

*{
  font-family: 'Poppins', sans-serif;
}

.header{
  background-color: black;
  color: white;
  .flagVnzl{
    width: 30px !important;
    height: 30px !important;
    margin: auto !important;
  }

  .logoWhite{
    width: 45px !important;
  }

  .headerTitle{
    font-size: 28px !important;
    margin-top: 40px !important;
  }

  .badgeNotify{
    position: absolute !important;
    top: 30% !important;
    right: 22% !important;
  }

  .iconNotify{
    font-size: 35px !important; 
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin-top: 85% !important;
  }
  .iconMenu{
    font-size: 35px !important; 
    align-items: center !important;
    align-content: center !important;
    justify-content: center !important;
    align-self: center !important;
    margin-top: 85% !important;
  }
  .iconBack{
    color: white !important;  
    font-size: 40px !important;  
    margin: auto !important;
    margin-top: 35px !important;
  }
  .logoRed{
    width: 80px !important;
    height: 80px !important; 
    margin: 15px auto auto auto !important;
  }
  .iconMenu2{
    color: white !important;  
    font-size: 40px !important;  
    margin: auto !important;
    margin-top: 35px !important;
  }
}

.btnRed{
  --background: #EB0A1E !important;
  --color: white !important;
}

.btnYell{
  --background: #ebc90a !important;
  --color: #000 !important;
  font-weight: 600;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  margin: auto !important;
}

.btnSaveRed{
  --background: #EB0A1E !important;
  --color: white !important;
  width: 80%;
  height: 50px;
  margin: auto;
}

.btnOutlineRed{
  --border-color: #EB0A1E !important;
  --color: #EB0A1E !important;
  // --background: white !important;
  width: 80% !important;
  height: 50px !important;
  margin: 15px auto auto auto !important;
}

.iconRed{
  color: #EB0A1E !important;
}

.radioRed{
  --color-checked: #EB0A1E !important;
  --color-unchecked: #EB0A1E !important;
  --color: #EB0A1E !important;
}

.titlePage{
  font-size: 22px !important;
  font-weight: bold !important;
}

.titleSwiper{
  font-size: 20px !important;
}

.subtitleSwiper{
  color: #5D5D5D !important; 
  font-size: 12px !important;
}

.iconSwipper{
  font-size: 150px !important;
}

.spanLabel{
  font-size: 15px !important;
  color: #787878 !important;
}

.spanLabel2{
  font-size: 15px !important;
  color: #1c1c1d !important;
}

.spanLabelMecF{
  font-size: 15px;
  color: #787878;
  margin-bottom: 10px;
}

.spanGenCon{
  font-size: 12px !important;
  font-weight: bold !important;
}

.pGenCon{
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 10px auto !important
}

.pText {
  font-size: 15px !important;
  font-weight: 900 !important;
  color: #1c1c1d !important;
  text-transform: capitalize !important;
}

.rowPriceEdit{
  border: 1px solid #b3b3b3 !important; 
  border-radius: 15px !important
  ;height: 50px !important; 
  width: 180px !important; 
  margin: auto !important;
}

.segment-green{
  --color-checked: #00A651 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(0, 166, 81,0.1);
  opacity: 1 !important;
}

.segment-orange{
  --color-checked: #F7941D !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(247, 148, 29,0.1);
  opacity: 1 !important;
}

.segment-red{
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

.segment-yellow{
  --color-checked: #cc9a06 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(249, 214, 22,0.1);
  opacity: 1 !important;
}

.itemGroupSegment{
  margin-left: -5px !important;
}
.itemSegment{
  margin-left: -5px !important;
}
.rowSegment{
  margin-left: -5px !important;
}
.colSegment{
  margin-left: 2px !important;
}

.titleHeader{
  font-size: 25px !important;
  margin-top: 30px !important;
}

.labelBrand{
  font-size: 15px !important; 
  color: #353535 !important; 
  margin: 10px 0px !important;
  margin: 15px auto !important;
}

.labelBrandPass{
  font-size: 14px !important; 
  color: #353535 !important; 
}

.titleCardHome{
  font-size: 13px !important;
}

.titleDatosPlus{
  font-size: 20px !important;
  color: #000 !important;
  margin: 10px 0px !important;
  font-weight: bold !important;
}

.datoPlusTitle{
  font-size: 18px !important;
  font-weight: bold !important;
  }

.datoPlusSubtitle{
  font-size: 14px !important;
  color: #898989 !important;
}

.datoPlusImg{
  width: 60% !important;
  margin: 20px 0px !important;
}

.sidebarUsename{
  font-size: 20px !important; 
  margin: 20px auto auto 20px !important;
}
.sidebarTypeuser{
  font-size: 15px !important; 
  color: #EB0A1E !important;
  margin: 0px auto auto 25px !important;
}

.iconNoInfo{
  font-size: 150px !important;
  margin: 10% auto !important;
  
}

.rowPassNewMec{
  border: 1px solid #b3b3b3 !important; 
  border-radius: 15px !important;
  height: 50px !important;
}

.br280{
  display: none !important;
}

.br360{
  display: none !important;
}

.radioSmall{
  margin: auto 3px !important;
}
.radioBig{
  margin: auto 3px !important;
}

#searchbarHome{
  --border-radius: 30px !important;
}

#searchbarUserlist{
  --border-radius: 30px !important;
}

ion-accordion{
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-bottom-right-radius: 8px !important;
  margin: 5px auto !important;
}

ion-radio {
  --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  --color-unchecked: #EB0A1E !important;
  --inner-border-radius: 2px
}

ion-segment-button {
  ion-label {
    font-size: 10px !important;
  }
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

ion-segment {
  // margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


@media screen and (width:414px){
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }
  .sidebarUsename{
    font-size: 19px !important;
    margin: 0px auto auto 15px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 15px !important;
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:412px) {
  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:411px){
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
  
}

@media screen and (width:390px) {
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 18px !important;
    margin: 0px auto auto 20px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 15px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

    .radioSmall{
      margin: auto 2px !important;
    }
    .radioBig{
      margin: auto 2px !important;
    }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:393px) {
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 18px !important;
    margin: 0px auto auto 20px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 15px !important;
    }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:375px){
  .spanLabel{
    font-size: 14px !important;
  }
  .pText{
    font-size: 14px !important;
  }
  .titleHeader{
    font-size: 21px !important;
    margin-top: 37px !important;
  }
  .pGenCon{
    font-size: 15px !important;
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 19px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 14px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

    // .radioSmall{
    //   margin: auto 15px !important;
    // }
    // .radioBig{
    //   margin: auto 7px !important;
    // }
    
    // .br280{
    //   display: block !important;
    // }
    // .br280notDis{
    //   display: none !important;
    // }
  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:360px){
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 14px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;
      }
    }

    .radioSmall{
      margin: auto 15px !important;
    }
    .radioBig{
      margin: auto 13px !important;
    }

    .sidebarUsename{
      font-size: 19px !important;
    }
  
    .sidebarTypeuser{
      margin: 0px auto auto 20px !important;
    }

  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width:320px){
  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 23px !important;
  }

  .sidebarUsename{
    font-size: 19px !important;
    margin: 0px auto auto 15px !important;
  }

  .sidebarTypeuser{
    margin: 0px auto auto 15px !important;
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 15px !important;
    }
    .cardDataPlus{
      span{
        font-size: 12px !important;
      }
    }
  }
}

@media screen and (width: 280px){
  ion-accordion-group{
    width: 100% !important;
    margin: 15px auto !important;
  }

  ion-header{
    ion-toolbar{
      ion-buttons{
        ion-button{
          font-size: 10px !important;
        }
      }
      ion-title{
        font-size: 12px !important;
      }
    }
  }

  .header{
    .flagVnzl{
      width: 30px !important;
      height: 30px !important;
      margin: auto !important;
    }
  
    .logoWhite{
      width: 30px !important;
    }
  
    .headerTitle{
      font-size: 20px !important;

    }
  
    .badgeNotify{
      position: absolute !important;
      top: 30% !important;
      right: 0% !important;
      z-index: 999999999;
    }
  
    .iconNotify{
      font-size: 30px !important;
      margin-top: 100% !important;
    }

    .iconMenu{
      font-size: 30px !important;
      margin-top: 100% !important;
    }

    .iconBack{
      font-size: 35px !important;
    }

    .logoRed{
      width: 60px !important;
    }

    .iconMenu2{
      font-size: 35px !important;
    }
  }

  app-add-vehicle{
    ion-input{
      min-height: 45px !important;
    }

    .titleDatosPlus{
      font-size: 18px !important;
    }

    .datoPlusTitle{
      font-size: 14px !important;
    }

    .datoPlusSubtitle{
      font-size: 12px !important;
    }
    
    .datoPlusImg{
      width: 70% !important;
    }

    ion-card{
      ion-card-title{
        font-size: 16px !important;
      }

      ion-button{
        font-size: 11px !important;
      }

      ion-card-content{
        ion-card-title{
          font-size: 11px !important;
          font-weight: 600 !important;
        }
      }
    }
  }

  .sidebarUsename{
    font-size: 13px !important;
  }
  .sidebarTypeuser{
    margin: 0px auto auto 20px !important;
  }

  .iconNoInfo{
    font-size: 180px !important;
    margin: 10% auto !important;
    
  }
  
  .titleNoInfo{
    font-size: 18px !important;
  }

  #openFilterVehicles{
    font-size: 11px !important;
  }

  .btnExcel{
    font-size: 11px !important;
  }

  .filterGraphic{
    ion-title{
      font-size: 15px !important;
    }
  }

  app-add-mechanic{
    ion-input{
      min-height: 45px !important;
    }

    .btnSaveRed{
      height: 40px !important;
      font-size: 13px !important;
      margin: 15px auto !important;
    }

    .rowPassNewMec{
      height: 45px !important;
    }
  }

  app-add-mechanic-file{
  
    ion-label {
      font-size: 13px !important;
    }

    ion-item-divider{
      text-align: center !important;
      ion-label{
        font-size: 13px !important;

      }
    }

      // ion-radio{
      //   margin: auto 10px !important;
      // }

    .radioSmall{
      margin: auto 15px !important;
    }
    .radioBig{
      margin: auto 7px !important;
    }
    
    .br280{
      display: block !important;
    }
    .br280notDis{
      display: none !important;
    }

    .btnSaveRed{
      width: 70% !important;
      height: 40px !important;
      font-size: 13px !important;
    }

    ion-fab-button{
      height: 50px !important;
      width: 50px !important;
    }

  }

  app-car-detail-admin{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 13px !important;
    }
    .cardDataPlus{
      span{
        font-size: 11px !important;
      }
    }
  }

  app-car-detail-mechanic{
    .colPriceCar{
      text-align: center !important;
    }
    .colGenCon{
      text-align: center !important;
    }
    .spanGenCon{
      font-size: 13px !important;
    }
    .cardDataPlus{
      span{
        font-size: 11px !important;
      }
    }
  }
}
