
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Crear Técnico</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="addMechanic()">Guadar</ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" style="margin-top: 20px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Nombre Completo</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.fullName"></ion-input>
      </ion-col>

      <ion-col size="12" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Correo Electrónico</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.email"></ion-input>
      </ion-col>

      <ion-col size="12" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Número Telefonico</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.phone"></ion-input>
      </ion-col>

      <ion-col size="12" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Nombre de Usuario</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.username"></ion-input>
      </ion-col>

      <ion-col size="12">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="6">
              <ion-label style="font-size: 13px !important;">Contraseña</ion-label>
              <ion-row style="border: 1px solid #b3b3b3; border-radius: 15px;height: 50px;">
                <ion-col size="9">
                  <ion-input [type]="typeInput" [(ngModel)]="newMechanic.password" style="height: 30px !important;" id="inputPasss"></ion-input>
                </ion-col>
                <ion-col size="3" style="text-align: center;">
                  <ion-icon name="eye-outline" *ngIf="typeInput === 'password'" (click)="showPassword()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="typeInput === 'text'" (click)="showPassword()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6">
              <ion-label style="font-size: 13px !important;">Confirmar Contraseña</ion-label>
              <ion-row style="border: 1px solid #b3b3b3; border-radius: 15px;height: 50px;">
                <ion-col size="9">
                  <ion-input [type]="typeInputConfirm" [(ngModel)]="newMechanic.password_confirm" style="height: 30px !important;" id="inputPasss"></ion-input>
                </ion-col>
                <ion-col size="3" style="text-align: center;">
                  <ion-icon name="eye-outline" *ngIf="typeInputConfirm === 'password'" (click)="showPasswordConfirm()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                  <ion-icon name="eye-off-outline" *ngIf="typeInputConfirm === 'text'" (click)="showPasswordConfirm()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="6" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Estado</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.city" disabled style="opacity: 1 !important;"></ion-input>
      </ion-col>

      <ion-col size="6" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Tipo Usuario</ion-label>
        <ion-input type="text" fill="outline" disabled value="Técnico" style="opacity: 1 !important;"></ion-input>
      </ion-col>

      <ion-col size="12" style="margin-top: 15px;">
        <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Concesionario</ion-label>
        <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.concesionary" disabled style="opacity: 1 !important;"></ion-input>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" shape="round" (click)="addMechanic()" class="btnSaveRed" style="margin: 25px auto !important;">
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
