<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" class="header">
        <ion-row>
          <ion-col size="2">
            <ion-icon name="arrow-back-circle-sharp" class="iconBack" (click)="goBack()"></ion-icon>
          </ion-col>
          <ion-col size="8" style="text-align: center;">
            <ion-img src="assets/images/logo/logo_toyota_blanco.png" class="logoRed"></ion-img>
          </ion-col>
          <ion-col size="2">
            <ion-icon name="menu-outline" (click)="openMenu()" class="iconMenu2"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-row>

          <ion-col  sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="text-align: center" >
            <p class="titlePage">Cargar vehículo</p>
          </ion-col>

          <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="text-align: center;">
            <ion-row>
              <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length === 0" (click)="openActionSheet()">
                <ion-icon name="image" (click)="openActionSheet()" class="noPhotoIcon" ></ion-icon>
                <br>
                <span class="noPhotoTitle" >Cargar imágenes</span>
                <br>
                <span class="noPhotoSubtitle" >Mínimo 5 fotos del vehículo (Delantera, trasera, ambos lados e interna)</span>
              </ion-col>

              <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length > 0">
                <swiper-container [loop]="true" [pagination]="true">
                  <swiper-slide *ngFor="let image of arrayImages; let i = index">
                    <ion-row>
                      <ion-col size="4">
                        <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImage(i)">
                          <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col size="4">

                      </ion-col>
                      <ion-col size="4">
                        <ion-button expand="block" shape="round" (click)="openActionSheetEdit(i)" class="btnRed">
                          <ion-icon name="create" style="font-size: 30px;"></ion-icon>
                        </ion-button>
                      </ion-col>
                      <ion-col size="12">
                        <ion-img [src]="image.image" style="width: 100%;height: 200px;"></ion-img>
                      </ion-col>
                    </ion-row>
                  </swiper-slide>
                  <div class="swiper-pagination"></div>
                </swiper-container>
                <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openActionSheet()" class="btnSaveRed">
                  Agregar imagen
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Modelo</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.model" (ionInput)="searchAutoComplete()" (ionInput)="validateModel($event)" [class.borderRed]="emptyModel"></ion-input>

            <ion-list class="listModels" *ngIf="newVehicle.model !== '' && showAutoComplete">
              <ion-list-header>
                <ion-label>Modelos</ion-label>
              </ion-list-header>
              <ion-item *ngFor="let model of arrayAutoComplete" lines="full" button (click)="selectAutoComplete(model)" id="itemAutoComplete">
                <ion-label>{{model.model}}</ion-label>
              </ion-item>
            </ion-list>
            
            <ion-popover side="bottom" alignment="center" [translucent]="true" [backdropDismiss]="true" [arrow]="true" trigger="trigger-open" >
              <ng-template>
                <ion-list>
                  <ion-item *ngFor="let model of arrayAutoComplete">
                    <ion-label>{{model.model}}</ion-label>
                  </ion-item>
                </ion-list>
              </ng-template>
            </ion-popover>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" *ngIf="emptyModel">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo model es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Tipo de vehículo</ion-label>
            <ion-select [(ngModel)]="newVehicle.type_vehicle" interface="action-sheet" placeholder="tipo de vehículo" fill="outline" id="typeSelect" (ionChange)="validateTypeVehicle($event)" [class.borderRedSelect]="emptyTypeVehicle">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option value="pickup">Pick-up y carga</ion-select-option>
              <ion-select-option value="suv">SUV</ion-select-option>
              <ion-select-option value="sedan">Sedan</ion-select-option>
              <ion-select-option value="hatchback">Hatchback</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" *ngIf="emptyTypeVehicle">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo tipo de vehículo es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Marca</ion-label>
            <!-- <ion-select [(ngModel)]="newVehicle.brand" interface="action-sheet" placeholder="tipo de vehículo" fill="outline" id="typeSelect" (ionChange)="validateBrand($event)" [class.borderRedSelect]="emptyBrand">
              <ion-select-option value="">Todos</ion-select-option>
              <ion-select-option [value]="brand.name" *ngFor="let brand of arrayBrands">{{brand.name}}</ion-select-option>
              
            </ion-select> -->

            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.brand" [class.borderRed]="emptyBrand" disabled style="opacity: 1;"></ion-input>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" *ngIf="emptyBrand">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo marca es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Año</ion-label>
            <ion-input type="tel" fill="outline" [(ngModel)]="year" (ionInput)="validateYear($event)" [class.borderRed]="emptyYear"></ion-input>
          </ion-col>

          <ion-col size="12" *ngIf="emptyYear">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo año es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">VIN</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.vin" style="text-transform: uppercase;"  (ionInput)="validateVin($event)" [class.borderRed]="emptyVin || validVin"></ion-input>
          </ion-col>
          
          <ion-col size="12" *ngIf="emptyVin || validVin">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;" *ngIf="emptyVin">
                  El campo VIN es obligatorio
                </span>
                <span style="color:red; font-size: 15px;" *ngIf="validVin">
                  Debe ingresar un VIN válido
                </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Placa del vehículo</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.vehicle_plate" style="text-transform: uppercase;"  (ionInput)="validatePlate($event)" [class.borderRed]="emptyPlate || validPlate"></ion-input>
          </ion-col>

          <ion-col size="12" *ngIf="emptyPlate || validPlate">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;" *ngIf="emptyPlate">El campo placa es obligatorio</span>
                <span style="color:red; font-size: 15px;" *ngIf="validPlate">
                  Debe ingresar una placa válida 
                </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Cilindrada</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.displacement" (ionInput)="validateDisplacement($event)" [class.borderRed]="emptyDisplacement"></ion-input>
          </ion-col>

          <ion-col size="12" *ngIf="emptyDisplacement">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo cilindrada es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Km</ion-label>
            <ion-input type="tel" fill="outline" [value]="km" (ionInput)="setDotKm($event.target)" (ionInput)="validateKm($event)" [class.borderRed]="emptyKm"></ion-input>
          </ion-col>

          <ion-col size="12" *ngIf="emptyKm">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo km es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Títulos</ion-label>
            <ion-select [(ngModel)]="newVehicle.titles" interface="action-sheet" fill="outline" placeholder="seleccionar títulos" (ionChange)="validateTitles($event)" [class.borderRedSelect]="emptyTitles">
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="1-1">1-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="2-1">2-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="3-1">3-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4-1">4-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="5-1">5-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="6-1">6-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="7-1">7-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="8-1">8-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="9-1">9-1</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="10-1">10-1</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" *ngIf="emptyTitles">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo títulos es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Combustible</ion-label>
            <ion-select [(ngModel)]="newVehicle.fuel" interface="action-sheet" fill="outline" placeholder="seleccionar combustible" (ionChange)="validateFuel($event)" [class.borderRedSelect]="emptyFuel">
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="gasolina">Gasolina</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="diesel">Diesel</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="hibrido">Híbrido</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="eléctrico">Eléctrico</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" *ngIf="emptyFuel">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo combustible es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Transmisión</ion-label>
            <ion-select [(ngModel)]="newVehicle.transmission" interface="action-sheet" fill="outline" placeholder="seleccionar transmisión" (ionChange)="validateTransmission($event)" [class.borderRedSelect]="emptyTransmission">
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="automática">Automática</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="manual">Manual</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" *ngIf="emptyTransmission">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo transmisión es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Tracción</ion-label>
            <ion-select [(ngModel)]="newVehicle.traction" interface="action-sheet" fill="outline" placeholder="seleccionar tracción" 
            [class.borderRedSelect]="emptyTraction" (ionChange)="validateTraction($event)">
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x2">4x2</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x4 part time">4x4 Part Time</ion-select-option>
              <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x4 full time">4x4 Full Time</ion-select-option>
            </ion-select>
          </ion-col>

          <ion-col size="12" *ngIf="emptyTraction">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">El campo tracción es obligatorio</span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
            <ion-label>Estado</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.city" disabled="true" style="opacity: 1 !important;"></ion-input>
          </ion-col>
          
          <ion-col size="12">
            <ion-label>Concesionario</ion-label>
            <ion-input type="text" fill="outline" [(ngModel)]="newVehicle.concesionary" disabled="true" style="opacity: 1 !important;"></ion-input>
          </ion-col>

          <ion-col size="12">
            <input type="file" #inputDocs style="width: 0px !important;height: 0px !important;" accept="application/pdf, .pdf" (change)="fileSelect($any($event).target.files)">
            <input type="file" #inputDocs2 style="width: 0px !important;height: 0px !important;" accept="application/pdf, .pdf" (change)="fileSelect2($any($event).target.files)">
            <ion-accordion-group expand="inset" style="width: 100%; margin: 10px auto;">
              
              <ion-accordion value="year">
                <ion-item slot="header">
                  <ion-label>Documentos del vehículo</ion-label>
                </ion-item>

                <ion-grid fixed class="ion-padding" slot="content">
                  <ion-row>
                    <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="text-align: center;">
                      <ion-row>
                        <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length === 0" (click)="openInputDocs()">
                          <ion-icon name="image" class="noPhotoIcon" ></ion-icon>
                          <br>
                          <span class="noPhotoTitle" >Cargar Documentos</span>
                        </ion-col>
          
                        <!-- <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length > 0">
                          <swiper-container [loop]="true" [pagination]="true">
                            <swiper-slide *ngFor="let image of arrayDocuments; let i = index">
                              <ion-row>
                                <ion-col size="4">
                                  <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImageDoc(i)">
                                    <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
                                  </ion-button>
                                </ion-col>
                                <ion-col size="4">
                                  
                                  
                                </ion-col>
                                <ion-col size="4">
                                  <ion-button expand="block" shape="round" (click)="editInputDocs(i)" class="btnRed">
                                    <ion-icon name="create" style="font-size: 30px;"></ion-icon>
                                  </ion-button>
                                </ion-col>
                                <ion-col size="12">
                                  <ion-img src="assets/images/logo/pdf_logo.png" style="width: 100%;height: 150px; margin: auto;"></ion-img>
                                  <span>{{image.name}}</span>

                                </ion-col>
                              </ion-row>
                            </swiper-slide>
                            <div class="swiper-pagination"></div>
                          </swiper-container>
                          <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openInputDocs()" class="btnSaveRed">
                            Agregar documento
                          </ion-button>
                        </ion-col> -->
                        
                        <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length > 0">
                          <ion-list>
                            <!-- <ion-item > -->
                              <ion-grid fixed>
                                <ion-row *ngFor="let doc of arrayDocuments; let i = index">
                                  <ion-col size="12">
                                    <ion-button expand="block" shape="round" class="btnRed">
                                      <span>{{doc.name}}</span>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col size="12">
                                    <ion-row>
                                      <ion-col size="6" style="text-align: center;">
                                        <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImageDoc(i)" style="width: 70% !important; margin: auto !important;">
                                          <ion-icon name="trash" ></ion-icon>
                                        </ion-button>
                                      </ion-col>
                                      <ion-col size="6" style="text-align: center;">
                                        <ion-button expand="block" shape="round" (click)="editInputDocs(i)" class="btnRed" style="width: 70% !important; margin: auto !important;">
                                          <ion-icon name="create" ></ion-icon>
                                          </ion-button>
                                      </ion-col>
                                    </ion-row>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            <!-- </ion-item> -->
                          </ion-list>
                          <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openInputDocs()" class="btnSaveRed">
                            Agregar documento
                          </ion-button>
                        </ion-col>

                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block" fill="clear" shape="round" class="bntClear" color="danger" (click)="emptyForm()">
              Vaciar Formulario
            </ion-button>
          </ion-col>

          <ion-col size="12" style="margin-top: 10px;">
            <ion-label class="titleDatosPlus" >Datos plus</ion-label>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col  sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                <p class="datoPlusTitle">Control de tracción</p>
                <span class="datoPlusSubtitle">Estable y seguro</span>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                <ion-img src="assets/images/logo/traccion.png" class="datoPlusImg"></ion-img>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                <ion-checkbox [(ngModel)]="newVehicle.traction_control"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col  sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                <p class="datoPlusTitle">Performance</p>
                <span class="datoPlusSubtitle">V6 Twin Turbo (V35A-FTS)</span>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                <ion-img src="assets/images/logo/performance.png" class="datoPlusImg"></ion-img>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                <ion-checkbox [(ngModel)]="newVehicle.performance"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                <p class="datoPlusTitle">Confort</p>
                <span class="datoPlusSubtitle">Asientos tapizados en cuero natural y  ecológico</span>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                <ion-img src="assets/images/logo/confort.png" class="datoPlusImg"></ion-img>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                <ion-checkbox [(ngModel)]="newVehicle.comfort"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-row>
              <ion-col sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                <p class="datoPlusTitle">Tecnología</p>
                <span class="datoPlusSubtitle">Control de estabilidad(VSC)</span>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                  <ion-img src="assets/images/logo/tecnologia.png" class="datoPlusImg"></ion-img>
              </ion-col>
              <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                <ion-checkbox [(ngModel)]="newVehicle.technology"></ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-item-divider style="text-align: center;">
              <ion-label style="margin: 10px auto;color: #000;">¿SE REALIZARON LOS MANTENIMIENTOS <br> REGULARES EN EL CONCESIONARIO?</ion-label>
            </ion-item-divider>

            <ion-item class="itemSegment">
              <ion-segment [(ngModel)]="concesionary_maintenance" (ionChange)="validateMaintenance($event)">
                <ion-segment-button value="si" class="segment-green">
                  <ion-label>Sí</ion-label>
                </ion-segment-button>
                <ion-segment-button value="no" class="segment-red">
                  <ion-label>No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-col>

          <ion-col size="12" *ngIf="emptyMaintenance">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">
                  Debe seleccionar si se realizaron los mantenimientos regulares en el concesionario
                </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-item-divider style="text-align: center;">
              <ion-label style="margin: 10px auto;color: #000;">¿CALIFICA PARA CERTFICACIÓN?</ion-label>
            </ion-item-divider>

            <ion-item class="itemSegment">
              <ion-segment [(ngModel)]="certified" (ionChange)="validateCertified($event)">
                <ion-segment-button value="si" class="segment-green">
                  <ion-label>Sí</ion-label>
                </ion-segment-button>
                <ion-segment-button value="no" class="segment-red">
                  <ion-label>No</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>
          </ion-col>

          <ion-col size="12" *ngIf="emptyCertified">
            <ion-row>
              <ion-col size="12" style="text-align: center;">
                <span style="color:red; font-size: 15px;">
                  Debe seleccionar si el vehículo califica para certificación
                </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" *ngIf="newVehicle.id_mechanic === ''">
            <ion-card [class.borderRed]="emptyIdmechanic">
              <ion-card-header>
                <ion-card-title style="font-weight: bold;">Ficha mecánica</ion-card-title>
                <ion-card-subtitle style="color:darkgoldenrod;">en espera</ion-card-subtitle>

                <ion-button expand="block" shape="round" class="btnSaveRed" (click)="openModal()" style="height: 30px !important; margin-top: 15px !important;">
                  Asignar Técnico
                </ion-button>
              </ion-card-header>

              <ion-card-content>
                <ion-card-subtitle style="color: #898989;">El vehículo no sera publicado hasta que se apruebe la ficha mecánica</ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
          <ion-col size="12" *ngIf="emptyIdmechanic">
            <ion-row>
              <ion-col size="12">
                <span>
                  <ion-icon name="alert-circle" style="color: red;"></ion-icon>
                  <span style="color:red; font-size: 15px;">
                    Por favor seleccione un técnico
                  </span>
                </span>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" class="card" *ngIf="newVehicle.id_mechanic !== ''">
            <ion-row>
              <ion-col size="6">
                <ion-avatar  class="mecAvatar">
                  <img [src]="mechanicImg" *ngIf="mechanicImg !==''" />
                    <ion-icon name="person-circle" *ngIf="mechanicImg ===''" class="iconBlack" ></ion-icon>
                </ion-avatar>
              </ion-col>
              <ion-col size="6" style="text-align: center; font-size: 16px !important;">
                <p style="margin-top: 25px !important;" class="mecFullname">{{mechanicName}}</p>
                <p style="margin-top: 15px !important;" class="mecCity">{{mechanicCity}}</p>
                <p style="margin-top: 15px !important;" class="mecConcesionary">{{mechanicConcesionary}}</p>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12">
            <ion-button expand="block" shape="round" color="success" style="margin: auto; width: 50%;" (click)="addVehicle()" [disabled]="disabledSave">
              Cargar
            </ion-button>
          </ion-col>
          
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-action-sheet header="Opciones" [buttons]="actionSheetButtons" #ActionSheet></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="actionSheetButtonsEdit" #ActionSheetEdit></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="aSBtnsDocs" #ActionSheetDocs></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="aSBtnsEditDocs" #ActionSheetEditDocs></ion-action-sheet>

  <ion-modal (willDismiss)="onWillDismiss($event)" #modalMechanic>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="dismissModal()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Agregar Técnico</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="addMechanic()">Agregar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12" class="card" *ngFor="let mechanic of arrayMechanics" (click)="selectMechanic(mechanic)">
              <ion-row>
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6">
                  <ion-avatar class="mecAvatar">
                    <img [src]="mechanic.image.img" *ngIf="mechanic.image !==''" />
                    <ion-icon name="person-circle" *ngIf="mechanic.image ===''" class="iconBlack" ></ion-icon>
                  </ion-avatar>
                </ion-col>
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center; font-size: 16px !important;">
                  <p style="margin-top: 25px !important;" class="mecFullname">{{mechanic.fullName}}</p>
                  <p style="margin-top: 15px !important;" class="mecCity">{{mechanic.city}}</p>
                  <p style="margin-top: 15px !important;" class="mecConcesionary">{{mechanic.concesionary}}</p>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalAddMechanic>
    <ng-template>
      
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="dismissModalCreateMechanic()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Crear Técnico</ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="addMechanic()">Guadar</ion-button>
          </ion-buttons> -->
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">

        <ion-grid fixed>
          <ion-row>
            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="margin-top: 20px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Nombre Completo</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.fullName"></ion-input>
            </ion-col>

            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Correo Electrónico</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.email"></ion-input>
            </ion-col>

            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Número Telefónico</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.phone"></ion-input>
            </ion-col>

            <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Nombre de Usuario</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.username"></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-grid fixed>
                <ion-row>
                  <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                    <ion-label style="font-size: 13px !important;">Contraseña</ion-label>
                    <ion-row style="border: 1px solid #b3b3b3; border-radius: 15px;height: 50px;">
                      <ion-col size="9">
                        <ion-input [type]="typeInput" [(ngModel)]="newMechanic.password" style="height: 30px !important;" id="inputPasss"></ion-input>
                      </ion-col>
                      <ion-col size="3" style="text-align: center;">
                        <ion-icon name="eye-outline" *ngIf="typeInput === 'password'" (click)="showPassword()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                        <ion-icon name="eye-off-outline" *ngIf="typeInput === 'text'" (click)="showPassword()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                    <ion-label style="font-size: 13px !important;">Confirmar Contraseña</ion-label>
                    <ion-row style="border: 1px solid #b3b3b3; border-radius: 15px;height: 50px;">
                      <ion-col size="9">
                        <ion-input [type]="typeInputConfirm" [(ngModel)]="newMechanic.password_confirm" style="height: 30px !important;" id="inputPasss"></ion-input>
                      </ion-col>
                      <ion-col size="3" style="text-align: center;">
                        <ion-icon name="eye-outline" *ngIf="typeInputConfirm === 'password'" (click)="showPasswordConfirm()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                        <ion-icon name="eye-off-outline" *ngIf="typeInputConfirm === 'text'" (click)="showPasswordConfirm()" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Estado</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.city" disabled style="opacity: 1 !important;"></ion-input>
            </ion-col>

            <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Tipo Usuario</ion-label>
              <ion-input type="text" fill="outline" disabled value="Técnico" style="opacity: 1 !important;"></ion-input>
            </ion-col>

            <ion-col size="12" style="margin-top: 15px;">
              <ion-label style="font-size: 15px; color: #898989; margin: 10px 0px !important;">Concesionario</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="newMechanic.concesionary" disabled style="opacity: 1 !important;"></ion-input>
            </ion-col>

            <ion-col size="12">
              <ion-button expand="block" shape="round" (click)="createMechanic()" class="btnSaveRed" style="margin: 25px auto !important;">
                Guardar
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>


      </ion-content>

    </ng-template>
  </ion-modal>
  
</ion-content>