.header{
  background-color: black;
  color: white;
}

.colSearchBar{
z-index: 9999;
margin-top: -45px;
position: absolute;
left: 2px;
}

.btnClear{
  --background: #EB0A1E !important;
  color: #EB0A1E !important;
  --color: #EB0A1E !important;
}

.fondoim{
  height: 47%;
}

.imgperfil{
  object-fit: cover;
  width: 90%!important;
  height: 100%!important;
  border-radius: 25px;
  margin: auto;
  object-fit: cover;
}

.boto{
  width: 100%;
  display: flex;
  margin-bottom: -55px;
}

.bt1{
  width: 50%;
  text-align: start;
}
.bt2{
  width: 50%;
  text-align: end;
}

.editar{
  border-radius: 38px;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  right: 35px;
  // position: absolute;
  padding: 15px;
  background: #fff;
  padding: 15px 12px 15px 18px;
  z-index: 2;
}
.eliminar{
  border-radius: 38px;
  width: 20px;
  height: 20px;
  margin-top: 20px;
  left: 35px;
  // position: absolute;
  padding: 15px;
  background: #fff;
  padding: 15px 12px 15px 18px;
  z-index: 2;
}
.center {
  text-align: center;
}

.full {
  width: 100%;
}

.icinp{
  width: 25px;
  height: 20px;
  padding: 3px;

}

.noPhotoIcon{
font-size: 150px !important ;
}

.noPhotoTitle{
font-size: 20px !important ;
}

.noPhotoSubtitle{
color: #5D5D5D !important; 
font-size: 12px !important ;
}


ion-card{
text-align: center !important;
box-shadow: none !important;
background: #F8F8F8;
}

ion-search-bar{
--border-radius: 30px !important;
}

hr{
border: 0.5px solid #E9E9E9;
width: 100%;
margin: 10px 0px 10px 0px;
}

ion-input{
--background: #F9F9F9 !important;
--border-radius: 15px !important;
--color: #1c1c1d !important;

}

ion-checkbox{
  margin: auto ;
  --checked-background: #EB0A1E !important;
  --border-color: #EB0A1E !important;
  --border-color-checked: #EB0A1E !important;
  --checkbox-background-checked: #EB0A1E !important;
  --checkmark-color: #fff !important;
}

ion-avatar{
  margin: 5% auto !important;
  width: 100px !important;
  height: 100px !important;
  // border: 1px solid !important;
}

ion-search-bar{
  --border-radius: 30px !important;
}

.card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  width: 100% !important;
  height: 130px !important;
  border-radius: 15px !important;
  text-align: left !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 5px !important;
  margin: 10px auto !important;
}

.listModels{
  margin-top: 15px !important;
  position: absolute !important;
  z-index: 9999 !important;
  border-radius: 20px !important;
  border: solid 1px #1c1c1d;
  width: 100% !important;
}

ion-accordion{

  ion-item::part(native){
    color: #fff !important;
    background: #EB0A1E !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    ion-icon{
      color: #fff !important;
    }
  }
}

ion-card{
  text-align: center !important;
  box-shadow: none !important;
  background: #F8F8F8;
}

#inputPasss{
  min-height: 35px !important;
  --highlight-color-focused: trasparent !important;
  --highlight-color-invalid: trasparent !important;
  --highlight-color-valid: trasparent !important;
}

.iconBlack{
  color: gray !important;
  font-size: 100px !important;
  margin: auto !important;
  text-align: center !important;
}

.ulStepsPhotos{
  list-style: none !important;
  text-align: center !important;
}

.borderRed{
  label{
    border: 1px solid #EB0A1E !important;
  }
}

.borderRedSelect{
  border: 1px solid #EB0A1E !important;
}

@media screen and (width: 280px){
  ion-input{
    height: 40px !important;
  }

  .noPhotoIcon{
    font-size: 120px !important ;
  }
    
  .noPhotoTitle{
    font-size: 16px !important ;
  }
    
  .noPhotoSubtitle{
    color: #5D5D5D !important; 
    font-size: 11px !important ;
  }

  .card{
    height: 110px !important;
    .mecAvatar{
      width: 77% !important;
      height: 84% !important;
      ion-icon{
        font-size: 80px !important;
      }
    }
    .mecFullname{
      font-size: 12px !important;
    } 
    .mecCity{
      font-size: 12px !important;
    }
    .mecConcesionary{
      font-size: 12px !important;
    }
  }

}

@media screen and (max-width:320px){
  .mecFullname{
    font-size: 14px !important;
  }

  .mecCity{
    font-size: 13px !important;
  }

  .mecConcesionary{
    font-size: 13px !important;
  }
}

@media screen and (max-width:280px){
  .mecFullname{
    font-size: 13px !important;
  }

  .mecCity{
    font-size: 12px !important;
  }

  .mecConcesionary{
    font-size: 12px !important;
  }
}

@media screen and (max-width: 280px){
  .iconBlack{
    font-size: 75px !important;
  }
  .mecFullname{
    font-size: 12px !important;
  }
  .mecCity{
    font-size: 11px !important;
  }
  .mecConcesionary{
    font-size: 10px !important;
  }	
  .card{ 
    height: 105px !important;
  }
}