.header{
  background-color: black;
  color: white;
}

ion-label {
  font-size: 15px !important;
}

ion-segment-button {
  ion-label {
    font-size: 10px !important;
  }
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}


ion-segment {
  // margin-left: -20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ion-item-divider{
  margin: 15px auto !important;
  ion-label{
    font-size: 15px !important;
    font-weight: 900 !important;
    margin: auto !important;
  }
}

.mLeft{
  margin-left: -20px;
}

ion-fab-button{
  --background: #EB0A1E;
  --background-activated: #f6071b;
  --background-hover: #f44c5a;
  // --border-radius: 15px;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: white;
}

.segment-green{
  --color-checked: #00A651 !important;
  --color: #00A651 !important;
  font-weight: bold;
  --background: rgb(0, 166, 81,0.1);
  opacity: 1 !important;
  border-bottom: 2px solid #00A651 !important;
}

.segment-orange{
  --color-checked: #F7941D !important;
  --color: #F7941D !important;
  font-weight: bold;
  --background: rgb(247, 148, 29,0.1);
  opacity: 1 !important;
  border-bottom: 2px solid#F7941D !important;
}

.segment-red{
  --color-checked: #EB0A1E !important;
  --color: #EB0A1E !important;
  font-weight: bold;
  --background: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
  border-bottom: 2px solid #EB0A1E !important;
}

.segment-yellow{
  --color-checked: #cc9a06 !important;
  --color: #cc9a06 !important;
  font-weight: bold;
  --background: rgb(249, 214, 22,0.1);
  opacity: 1 !important;
  border-bottom: 2px solid #cc9a06 !important;
}