ion-avatar{
  margin: 5% auto !important;
  width: 100px !important;
  height: 100px !important;
  border: 1px solid !important;
}

ion-search-bar{
  --border-radius: 30px !important;
}

.card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  width: 100% !important;
  height: 130px !important;
  border-radius: 15px !important;
  text-align: left !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 5px !important;
  margin: 10px auto !important;
}

