.header{
background-color: black;
color: white;
}

.colSearchBar{
z-index: 9999;
margin-top: -45px;
position: absolute;
left: 2px;
}

ion-card{
background-color: #1c1c1d;
color: white;
span{
    color: #EB0A1E;
}
p{
    font-size: 16px;
    font-weight: 900;
}
ion-card-subtitle{
    font-size: 10px;
    font-weight: 900;
}
}

ion-search-bar{
--border-radius: 30px !important;
}

.cardVehicles{
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-position-x: right;
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  box-shadow: none !important;
  width: 160px !important;
  ion-img{
    width: 130px;
    height: 70px;
    margin: 18px 0px 0px 0px !important;
    img{
      width: 95% !important;
    }
  }

  p{
    font-size: 12px;
    font-weight: 900;
  }
  span{
    font-size: 12px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 20px;
    text-transform: capitalize !important;
  }

}

.iconCard{
  font-size: 90px !important; 
  margin: 16px 0px 0px 20px !important;
}

ion-badge{
  --background: #EB0A1E !important;
  --color: white !important;
}

ion-list{
  ion-item::part(native){
    background: #FFF !important;
    color: #000 !important;
    ion-label{
      color: #000 !important;
    }
  }
}


ion-item::part(native){
  color: #fff !important;
  background: #EB0A1E !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  ion-icon{
    color: #fff !important;
  }
}

ion-chip{
  position: fixed !important;
  bottom: 25px !important;
  margin: 5px auto !important;
  --background: #ebc90a !important;
  --color: #000;
  font-size: 11px;
  font-weight: 900;
  width: 70% !important;
  height: 20px !important;
  text-transform: capitalize !important;
  ion-label {
    // margin: 0px 6px !important;
  }
}

ion-radio {
  --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  --inner-border-radius: 2px
}

.gray{
  --background: #ADB5BD!important;
  color: #000;
  ion-label{
    margin: 0px auto !important;
  }

}

.pulse {
  animation: pulse-animation 2s infinite;
  position: absolute;
  z-index: 999999;
  top: 0;
  left: 0;
  border-radius: 10px;
  width: 20px;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgb(235, 10, 30, 0.4);
  }
  100% {
    box-shadow: 0 0 0 20px rgb(235, 10, 30, 0);
  }
}

@media screen and (width:414px){
  .cardVehicles{
    ion-img{
      width: 110px !important;
    }
  }
}

@media screen and (width:412px){
  .cardVehicles{
    ion-img{
      width: 110px !important;
    }
  }
}

@media screen and (width:411px){
  .cardVehicles{
    ion-img{
      width: 110px !important;
    }
  }
}

@media screen and (width:393px){
  ion-card{
    ion-card-subtitle{
      font-size: 10px !important; 

    }
  }

  .titleCardHome{
    font-size: 11px !important;
  }

  .cardVehicles{
    margin: auto !important;
    ion-img{
      width: 115px !important;
      height: 60px !important;
      margin: 17px 0px 0px 0px !important;
      img{
        width: 95% !important;
      }
    }

    p{
      font-size: 11px !important;
      // font-weight: 900;
    }
  }

  .iconCard{
    font-size: 75px !important; 
    margin: 20px 0px 0px 18px !important;
  }

  .header{
    .badgeNotify{
      // position: absolute !important;
      // top: 30% !important;
      // right: 0% !important;
      z-index: 999999999;
    }
  }
}

@media screen and (width:390px){
  ion-card{
    ion-card-subtitle{
      font-size: 10px !important; 

    }
  }

  .titleCardHome{
    font-size: 11px !important;
  }

  .cardVehicles{
    margin: auto !important;
    ion-img{
      width: 117px !important;
      height: 60px !important;
      margin: 17px 0px 0px 0px !important;
      img{
        width: 95% !important;
      }
    }

    p{
      font-size: 11px !important;
      // font-weight: 900;
    }
  }

  .iconCard{
    font-size: 75px !important; 
    margin: 20px 0px 0px 18px !important;
  }

  .header{
    .badgeNotify{
      // position: absolute !important;
      // top: 30% !important;
      // right: 0% !important;
      z-index: 999999999;
    }
  }
}

@media screen and (width:375px){
  ion-card{
    ion-card-subtitle{
      font-size: 10px !important; 

    }
  }

  .titleCardHome{
    font-size: 11px !important;
  }

  .cardVehicles{
    margin: auto !important;
    ion-img{
      width: 117px !important;
      height: 60px !important;
      margin: 17px 0px 0px 0px !important;
      img{
        width: 95% !important;
      }
    }

    p{
      font-size: 11px !important;
      // font-weight: 900;
    }
  }

  .iconCard{
    font-size: 75px !important; 
    margin: 20px 0px 0px 18px !important;
  }

  .header{
    .badgeNotify{
      // position: absolute !important;
      // top: 30% !important;
      // right: 0% !important;
      z-index: 999999999;
    }
  }
}

@media screen and (width:360px){
  .cardVehicles{
    ion-img{
      width: 115px !important;
    }
    ion-card{
      margin: auto !important;
    }
  }
  .titleCardHome{
    font-size: 11px !important;
  }

  .header{
    .headerTitle{
      font-size: 25px !important;
    }

    .badgeNotify{
      z-index: 999999999;
    }
  }
}

@media screen and (width:280px){
  .header{
    .flagVnzl{
      width: 30px !important;
      height: 30px !important;
      margin: auto !important;
    }
  
    .logoWhite{
      width: 30px !important;
    }
  
    .headerTitle{
      font-size: 20px !important;

    }
  
    .badgeNotify{
      position: absolute !important;
      top: 30% !important;
      right: 0% !important;
      z-index: 999999999;
    }
  
    .iconNotify{
      font-size: 30px !important;
      margin-top: 100% !important;
    }

    .iconMenu{
      font-size: 30px !important;
      margin-top: 100% !important;
    }
  }

  .titleCardHome{
    font-size: 11px !important;
  }

  ion-card{
    width: 100% !important;
    margin: auto !important;
  }
  
  

  .contentFilter{
    ion-title{
      font-size: 14px !important;
    }
  }

  .cardVehicles{
    ion-img{
      width: 110px !important;
    }
  }

}
