.header{
  background-color: black;
  color: white;
}

.colSearchBar{
  z-index: 9999;
  margin-top: -45px;
  position: absolute;
  left: 2px;
}

ion-card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  // height: 180px !important;
  ion-img{
    // width: 80%;
    // height: 60%;
    margin: auto !important
  }

  p{
    font-size: 10px;
    font-weight: 900;
  }
  span{
    font-size: 10px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 35px;
    margin: auto auto 10px auto!important;
    text-transform: capitalize !important;
  }

  ion-img{
    width: 80% !important;
      margin: auto !important
  }



}
.iconInspect{
  font-size: 120px !important; 
  
}
.spanData{
  font-size: 13px;color: #575757;
}

@media screen and (width:414px){

}

@media screen and (width:411px){

}

@media screen and (width:375px){
  ion-card{
    ion-card-subtitle{
      font-size: 14px !important; 

    }

    ion-label {
      font-size: 13px !important;
    }

    .spanData{
      font-size: 11px;color: #575757;
    }
  }


  .titlePage{
    font-size: 17px !important; 
  }

  

}

@media screen and (width:360px){

}

@media screen and (width:320px){

}
