ion-card{
  background-color: #1c1c1d;
  color: white;
  span{
    color: white;
    font-weight: 600;
  }
  p{
    font-size: 16px;
    font-weight: 900;
  }
  ion-card-subtitle{
    font-size: 11px;
    font-weight: 500;
    text-align: center;
    color: white;
  }
}

ion-search-bar{
  --border-radius: 30px !important;
}

.cardVehicles{
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-position-x: right;
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  box-shadow: none !important;
  width: 160px !important;
  ion-img{
    width: 130px;
    height: 70px;
    margin: 18px 0px 0px 0px !important;
    img{
      width: 95% !important;
    }
  }

  p{
    font-size: 12px;
    font-weight: 900;
  }
  span{
    font-size: 12px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 20px;
    text-transform: capitalize !important;
  }

}

hr{
  border: 0.5px solid #E9E9E9;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

.badge {
  display: inline-block;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 6px;
  border: 1px solid transparent;
  min-width: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px
}

.badge.badge-warning {
  background-color: #FFD600
}

.iconCard{
  font-size: 90px !important; 
  margin: 16px 0px 0px 20px !important;
}

.chipCard{
  position: fixed !important;
  bottom: 25px !important;
  margin: 5px auto !important;
  --background: #ebc90a !important;
  --color: #000;
  font-size: 11px;
  font-weight: 900;
  width: 70% !important;
  height: 20px !important;
  text-transform: capitalize !important;
  ion-label {
    // margin: 0px 6px !important;
  }
}

ion-badge{
  --background: #EB0A1E !important;
  --color: white !important;
}

ion-list{
  ion-item::part(native){
    background: #FFF !important;
    color: #000 !important;
    ion-label{
      color: #000 !important;
    }
  }
}

ion-item::part(native){
  color: #fff !important;
  background: #EB0A1E !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  ion-icon{
    color: #fff !important;
  }
}
.table {
  display: table;
  border-collapse: collapse;
  margin: auto;
  .tr {    
    display: table-row;
    border: 1px solid #000;
    .td {
      display: table-cell;
      padding: 8px;
      border-left: 1px solid #000;
      // &:first-child {
      //   border-left:0;
      // }      
    }
  }
}

.bg_gray_1{
  background: #788199;
}

.bg_gray_2{
  background: #b5bac9;
}

ion-radio {
  --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  --inner-border-radius: 2px
}

// @media screen and (max-width:480px){
//   .header{
//     .iconMenu{
//       margin-top: 70% !important;
//     }

//     .badgeNotify{
//       position: absolute !important;
//       top: 30% !important;
//       // right: 0% !important;
//       z-index: 999999999;
//     }
  
//     .iconNotify{
//       // font-size: 30px !important;
//       margin-top: 70% !important;
//     }
//   }
// }

// @media screen and (width:414px){
//   .cardVehicles{
//     ion-img{
//       width: 110px !important;
//     }
//   }
// }

// @media screen and (min-width:412px){
//   .cardVehicles{
//     ion-img{
//       width: 110px !important;
//     }
//   }
// }

// @media screen and (min-width:411px){
//   .cardVehicles{
//     ion-img{
//       width: 110px !important;
//     }
//   }
// }

// @media screen and (min-width:393px){
//   ion-card{
//     ion-card-subtitle{
//       font-size: 10px !important; 

//     }
//   }

//   .titleCardHome{
//     font-size: 11px !important;
//   }

//   .cardVehicles{
//     margin: auto !important;
//     ion-img{
//       width: 115px !important;
//       height: 60px !important;
//       margin: 17px 0px 0px 0px !important;
//       img{
//         width: 95% !important;
//       }
//     }

//     p{
//       font-size: 11px !important;
//       // font-weight: 900;
//     }
//   }

//   .iconCard{
//     font-size: 75px !important; 
//     margin: 20px 0px 0px 18px !important;
//   }

//   .header{
//     .badgeNotify{
//       // position: absolute !important;
//       // top: 30% !important;
//       // right: 0% !important;
//       z-index: 999999999;
//     }
//   }
// }

// @media screen and (min-width:390px){
//   ion-card{
//     ion-card-subtitle{
//       font-size: 10px !important; 

//     }
//   }

//   .titleCardHome{
//     font-size: 11px !important;
//   }

//   .cardVehicles{
//     margin: auto !important;
//     ion-img{
//       width: 117px !important;
//       height: 60px !important;
//       margin: 17px 0px 0px 0px !important;
//       img{
//         width: 95% !important;
//       }
//     }

//     p{
//       font-size: 11px !important;
//       // font-weight: 900;
//     }
//   }

//   .iconCard{
//     font-size: 75px !important; 
//     margin: 20px 0px 0px 18px !important;
//   }

//   .header{
//     .badgeNotify{
//       // position: absolute !important;
//       // top: 30% !important;
//       // right: 0% !important;
//       z-index: 999999999;
//     }
//   }
// }

// @media screen and (min-width:375px){
//   ion-card{
//     ion-card-subtitle{
//       font-size: 10px !important; 

//     }
//   }

//   .titleCardHome{
//     font-size: 11px !important;
//   }

//   .cardVehicles{
//     margin: auto !important;
//     ion-img{
//       width: 117px !important;
//       height: 60px !important;
//       margin: 17px 0px 0px 0px !important;
//       img{
//         width: 95% !important;
//       }
//     }

//     p{
//       font-size: 11px !important;
//       // font-weight: 900;
//     }
//   }

//   .iconCard{
//     font-size: 75px !important; 
//     margin: 20px 0px 0px 18px !important;
//   }

//   .header{
//     .badgeNotify{
//       // position: absolute !important;
//       // top: 30% !important;
//       // right: 0% !important;
//       z-index: 999999999;
//     }
//   }
// }

// @media screen and (min-width:360px){
//   .cardVehicles{
//     ion-img{
//       width: 115px !important;
//     }
//     ion-card{
//       margin: auto !important;
//     }
//   }
//   .titleCardHome{
//     font-size: 11px !important;
//   }

//   .header{
//     // .headerTitle{
//     //   font-size: 25px !important;
//     // }

//     .badgeNotify{
//       z-index: 999999999;
//     }
//   }
// }

// @media screen and (min-width:280px){
//   .header{
//     // .flagVnzl{
//     //   width: 30px !important;
//     //   height: 30px !important;
//     //   margin: auto !important;
//     // }
  
//     // .logoWhite{
//     //   width: 30px !important;
//     // }
  
//     // .headerTitle{
//     //   font-size: 20px !important;

//     // }
  
//     // .badgeNotify{
//     //   position: absolute !important;
//     //   top: 30% !important;
//     //   right: 0% !important;
//     //   z-index: 999999999;
//     // }
  
//     // .iconNotify{
//     //   font-size: 30px !important;
//     //   margin-top: 100% !important;
//     // }

//     // .iconMenu{
//     //   font-size: 30px !important;
//     //   margin-top: 100% !important;
//     // }
//   }

//   .titleCardHome{
//     font-size: 11px !important;
//   }

//   ion-card{
//     width: 100% !important;
//     margin: auto !important;
//   }
  
  

//   .contentFilter{
//     ion-title{
//       font-size: 14px !important;
//     }
//   }

//   .cardVehicles{
//     ion-img{
//       width: 110px !important;
//     }
//   }

// }