.header{
  background-color: black;
  color: white;
}

.colSearchBar{
  z-index: 9999;
  margin-top: -45px;
  position: absolute;
  left: 2px;
}

ion-card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  // height: 180px !important;
  box-shadow: none !important;
  ion-img{
    // width: 80%;
    // height: 60%;
    margin: auto !important
  }

  p{
    font-size: 10px;
    font-weight: 900;
  }
  span{
    font-size: 10px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 20px;
    margin: auto auto 10px auto!important;
    text-transform: capitalize !important;
  }
  

}

ion-input{
  --background: #F9F9F9 !important;
  --border-radius: 15px !important;
  --color: #1c1c1d !important;
  
  }


#inputPasss{
  min-height: 40px !important;
  font-size: 20px !important;
}

#inputPasss{
  --highlight-color-focused: trasparent !important;
  --highlight-color-invalid: trasparent !important;
  --highlight-color-valid: trasparent !important;
}

.select-text{
  font-size: 20px !important;
  margin: auto 20px !important;
  // font-weight: 900;
  // color: #1c1c1d;
}

.textCenter{
  text-align: center !important;
}

.textLeft{
  text-align: left !important;
}