<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" class="header">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="arrow-back-circle-sharp" class="iconBack" (click)="goBack()"></ion-icon>
            </ion-col>
            <ion-col size="8" style="text-align: center;">
              <ion-img src="assets/images/logo/logo_toyota_blanco.png" class="logoRed"></ion-img>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="menu-outline" class="iconMenu" (click)="openMenu()"></ion-icon>
            </ion-col>
          </ion-row>
      </ion-col>

      <ion-col size="12" *ngIf="loading && carDetail">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-row>
                <ion-col size="10">
                  <p class="titlePage">Detalles del vehículo</p>
                </ion-col>
                <ion-col size="2">
                  <ion-icon name="ellipsis-vertical-circle-outline" class="iconComparison" (click)="presentPopover($event)"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" *ngIf="!editCar" style="text-align: center !important">
              
              <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length === 0">
                <ion-icon name="information-circle" class="iconSwipper"></ion-icon>
                <br>
                <span class="titleSwiper">
                  El vehículo no posee imágenes cargadas
                </span>
              </ion-col>

              <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length > 0">
                <swiper-container [loop]="true" [pagination]="true">
                  <swiper-slide *ngFor="let image of arrayImages; let i = index">
                    <ion-row>
                      <ion-col size="12">
                        <ion-img [src]="image.img" style="width: 100%;height: 200px;"></ion-img>
                      </ion-col>
                    </ion-row>
                  </swiper-slide>
                  <div class="swiper-pagination"></div>
                </swiper-container>
              </ion-col>
            </ion-col>

            <ion-col size="12" style="text-align: center;" *ngIf="editCar">
              <ion-row>
                <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length === 0" (click)="openActionSheet()">
                  <ion-icon name="image" class="iconSwipper" (click)="openActionSheet()"></ion-icon>
                  <br>
                  <span class="titleSwiper">Cargar imágenes</span>
                  <br>
                  <span class="subtitleSwiper">Mínimo 5 fotos del vehículo (Delantera, trasera, ambos lados e interna)</span>
                </ion-col>
  
                <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayImages.length > 0">
                  <swiper-container [loop]="true" [pagination]="true">
                    <swiper-slide *ngFor="let image of arrayImages; let i = index">
                      <ion-row>
                        <ion-col size="4">
                          <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImage(i,image)">
                            <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col size="4">
  
                        </ion-col>
                        <ion-col size="4">
                          <ion-button expand="block" shape="round" (click)="openActionSheetEdit(i,image)" class="btnRed">
                            <ion-icon name="create" style="font-size: 30px;"></ion-icon>
                          </ion-button>
                        </ion-col>
                        <ion-col size="12">
                          <ion-img [src]="image.img" style="width: 100%;height: 200px;"></ion-img>
                        </ion-col>
                      </ion-row>
                    </swiper-slide>
                    <div class="swiper-pagination"></div>
                  </swiper-container>
                  <ion-button expand="block" shape="round" style="margin-top: 20px;" class="btnSaveRed" (click)="openActionSheet()">
                    Agregar imagen
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.id_seller_buyer!==null && carDetail.id_seller===myId && carDetail.price_ofert !== null&&carDetail.sold===false" style="text-align: center !important;">
              <p class="pText">Tienes una oferta por tu vehículo de ${{setDot(carDetail.price_ofert ? carDetail.price_ofert : 0)}}</p>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.id_seller_buyer!==null && carDetail.id_seller===myId&&carDetail.price_ofert !== null&& carDetail.final_price_sold === null&&carDetail.sold===false">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="6">
                    <ion-button expand="block" shape="round" (click)="approveBuyVehicle()" class="btnRed">
                      Aprobar
                    </ion-button>
                  </ion-col>
                  <ion-col size="6">
                    <ion-button expand="block" shape="round" (click)="rejectBuyVehicle()" class="btnRed">
                      Rechazar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col size="12" *ngIf="!editCar">
              <ion-row>
                <ion-col size="12">
                  <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12">
                    <span class="spanLabel" style="margin-left: 25px !important;">Modelo</span>
                  </ion-col>
                  <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12">
                    <p class="pText" style="margin-left: 30px !important;">{{carDetail.model}}</p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel" class="spanLabel">Marca</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">
                      {{carDetail.brand}}
                    </p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel" class="spanLabel">Año</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">
                      {{carDetail.year}}
                    </p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Km</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{setDot(carDetail.km)}}</p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Cilindrada</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{carDetail.displacement}}</p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Combustible</span>
                  </ion-col>
                  <ion-col size="12" >
                    <p class="pText">{{carDetail.fuel}}</p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Títulos</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{carDetail.titles}}</p>
                  </ion-col>
                </ion-col>
                
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Placa del vehículo</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{carDetail.plate}}</p>
                  </ion-col>
                </ion-col>

                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Transmisión</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{carDetail.transmission}}</p>
                  </ion-col>
                </ion-col>
    
                <ion-col sizeXl="4" sizeLg="4" sizeMd="6" sizeSm="6" sizeXs="6" style="text-align: center !important;">
                  <ion-col size="12">
                    <span class="spanLabel">Tracción</span>
                  </ion-col>
                  <ion-col size="12">
                    <p class="pText">{{carDetail.traction}}</p>
                  </ion-col>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" *ngIf="editCar">
              <ion-row>

                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Modelo</ion-label>
                  <ion-input type="text" fill="outline" [(ngModel)]="carDetail.model" (ionInput)="searchAutoComplete()"></ion-input>
      
                  <ion-list class="listModels" *ngIf="carDetail.model !== '' && showAutoComplete">
                    <ion-list-header>
                      <ion-label>Modelos</ion-label>
                    </ion-list-header>
                    <ion-item *ngFor="let model of arrayAutoComplete" lines="full" button (click)="selectAutoComplete(model)">
                      <ion-label>{{model.model}}</ion-label>
                    </ion-item>
                  </ion-list>
                  
                  <ion-popover side="bottom" alignment="center" [translucent]="true" [backdropDismiss]="true" [arrow]="true" trigger="trigger-open" >
                    <ng-template>
                      <ion-list>
                        <ion-item *ngFor="let model of arrayAutoComplete">
                          <ion-label>{{model.model}}</ion-label>
                        </ion-item>
                      </ion-list>
                    </ng-template>
                  </ion-popover>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Marca</ion-label>
                  <ion-select [(ngModel)]="carDetail.brand" interface="action-sheet" placeholder="tipo de vehículo" fill="outline" id="typeSelect">
                    <ion-select-option value="">Todos</ion-select-option>
                    <ion-select-option [value]="brand.name" *ngFor="let brand of arrayBrands">{{brand.name}}</ion-select-option>
                    
                  </ion-select>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Año</ion-label>
                  <ion-input type="tel" fill="outline" [(ngModel)]="carDetail.year"></ion-input>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Km</ion-label>
                  <ion-input type="tel" fill="outline" [value]="km" (ionInput)="setDotKm($event.target)"></ion-input>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Cilindrada</ion-label>
                  <ion-input type="text" fill="outline" [(ngModel)]="carDetail.displacement"></ion-input>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Combustible</ion-label>
                  <ion-select [(ngModel)]="carDetail.fuel" interface="action-sheet" fill="outline" placeholder="seleccionar combustible">
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="gasolina">Gasolina</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="diesel">Diesel</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="hibrido">Hibrido</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="eléctrico">Eléctrico</ion-select-option>
                  </ion-select>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Títulos</ion-label>
                  <ion-select [(ngModel)]="carDetail.titles" interface="action-sheet" fill="outline" placeholder="seleccionar títulos">
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="1-1">1-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="2-1">2-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="3-1">3-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4-1">4-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="5-1">5-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="6-1">6-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="7-1">7-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="8-1">8-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="9-1">9-1</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="10-1">10-1</ion-select-option>
                  </ion-select>
                </ion-col>
                
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Placa del vehículo</ion-label>
                  <ion-input type="text" fill="outline" [(ngModel)]="carDetail.plate"></ion-input>
                </ion-col>
                
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Transmisión</ion-label>
                  <ion-select [(ngModel)]="carDetail.transmission" interface="action-sheet" fill="outline" placeholder="seleccionar transmisión">
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="automática">Automática</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="manual">Manual</ion-select-option>
                  </ion-select>
                </ion-col>
    
                <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                  <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Tracción</ion-label>
                  <ion-select [(ngModel)]="carDetail.traction" interface="action-sheet" fill="outline" placeholder="seleccionar tracción">
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x2">4x2</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x4 part time">4x4 Part Time</ion-select-option>
                    <ion-select-option style="text-transform: capitalize;" interface="action-sheet" value="4x4 full time">4x4 Full Time</ion-select-option>
                  </ion-select>
                </ion-col>
                
                <ion-col size="12" style="margin-top: 10px;">
                  <ion-label class="titleDatosPlus" >Datos plus</ion-label>
                </ion-col>
      
                <ion-col size="12">
                  <ion-row>
                    <ion-col  sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                      <p class="datoPlusTitle">Control de tracción</p>
                      <span class="datoPlusSubtitle">Estable y seguro</span>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                      <ion-img src="assets/images/logo/traccion.png" class="datoPlusImg"></ion-img>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                      <ion-checkbox [(ngModel)]="carDetail.traction_control"></ion-checkbox>
                    </ion-col>
                  </ion-row>
                </ion-col>
      
                <ion-col size="12">
                  <ion-row>
                    <ion-col  sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                      <p class="datoPlusTitle">Performance</p>
                      <span class="datoPlusSubtitle">V6 Twin Turbo (V35A-FTS)</span>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                      <ion-img src="assets/images/logo/performance.png" class="datoPlusImg"></ion-img>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                      <ion-checkbox [(ngModel)]="carDetail.performance"></ion-checkbox>
                    </ion-col>
                  </ion-row>
                </ion-col>
      
                <ion-col size="12">
                  <ion-row>
                    <ion-col sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                      <p class="datoPlusTitle">Confort</p>
                      <span class="datoPlusSubtitle">Asientos tapizados en cuero natural y  ecológico</span>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                      <ion-img src="assets/images/logo/confort.png" class="datoPlusImg"></ion-img>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                      <ion-checkbox [(ngModel)]="carDetail.comfort"></ion-checkbox>
                    </ion-col>
                  </ion-row>
                </ion-col>
      
                <ion-col size="12">
                  <ion-row>
                    <ion-col sizeXl="8" sizeLg="8" sizeMd="8" sizeSm="8" sizeXs="8">
                      <p class="datoPlusTitle">Tecnología</p>
                      <span class="datoPlusSubtitle">Control de estabilidad(VSC)</span>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2">
                        <ion-img src="assets/images/logo/tecnologia.png" class="datoPlusImg"></ion-img>
                    </ion-col>
                    <ion-col sizeXl="2" sizeLg="2" sizeMd="2" sizeSm="2" sizeXs="2" style="margin: auto !important;">
                      <ion-checkbox [(ngModel)]="carDetail.technology"></ion-checkbox>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.price_ofert!==null && carDetail.sold===false" style="text-align: center;">
              <ion-button expand="block" shape="round" class="btnYell">
                En negociación
              </ion-button>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.price_ofert!==null && carDetail.sold===true" style="text-align: center;">
              <ion-button expand="block" shape="round" class="btnGreen">
                Vendido
              </ion-button>
            </ion-col>

            <ion-col size="12">
              <ion-card>
                <ion-card-content style="text-align: center !important;">
                  <ion-row>

                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                      <ion-row>
                        
                        <ion-col size="12" >
                          <span class="spanLabel" style="font-size: 15px !important;">Estado</span>
                        </ion-col>
                        <ion-col size="12" >
                          <ion-row>
                            <ion-col size="12" style="text-align: center !important;">
                              <span class="spanLabel2">{{carDetail.city}}</span>
                            </ion-col>
                          </ion-row>
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                      <ion-row>
                        <ion-col size="12">
                          <span class="spanLabel" style="font-size: 15px !important;">Concesionario</span>
                        </ion-col>
                        <ion-col size="12">
                          <span  class="spanLabel2">{{carDetail.concesionary}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-col>

                    <ion-col size="12" *ngIf="carDetail.price !== null && carDetail.id_seller !== myId">
                      <ion-row>
                        <ion-col size="12" >
                          <span class="spanLabel" style="font-size: 15px;">Precio</span>
                        </ion-col>
                        <ion-col size="12">
                          <ion-icon name="logo-usd" style="font-size: 20px;"></ion-icon>
                          <span style="font-size: 18px;">{{setDot(carDetail.price)}}</span>
                        </ion-col>
                      </ion-row>
                    </ion-col>

                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.mechanicalFile && carDetail.id_seller ===myId" style="text-align: center !important;">
              <ion-row>
                <ion-col size="12">
                  <span class="spanLabel" style="font-size: 18px;">Precio</span>
                </ion-col>
                <ion-col size="12">
                  <ion-col size="6">
                    <ion-row class="rowPriceEdit">
                      <ion-col size="3" style="text-align: center;">
                        <ion-icon name="logo-usd" style="font-size: 25px !important; margin: 5px auto !important"></ion-icon>
                      </ion-col>
                      <ion-col size="9" *ngIf="!editCar && !editPrice">
                        <ion-input type="text" [value]="priceAux" (ionInput)="dotPrice($event.target)" style="height: 30px !important;" id="inputPasss" disabled></ion-input>
                      </ion-col>
                      <ion-col size="9" *ngIf="editCar || editPrice">
                        <ion-input type="text" [value]="priceAux" (ionInput)="dotPrice($event.target)" style="height: 30px !important;" id="inputPasss"></ion-input>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-col>

                <ion-col size="12" *ngIf="carDetail.mechanicalFile && carDetail.id_seller ===myId && carDetail.price_ofert === null && carDetail.final_price_sold=== null&& carDetail.sold===false">
                  <ion-button (click)="onEditPrice()" expand="block" shape="round" class="btnSaveRed" *ngIf="!editPrice">
                    Indicar Precio
                  </ion-button>
                  <ion-button (click)="updateVehicle()" expand="block" shape="round" class="btnSaveRed" *ngIf="editPrice">
                    Guardar Precio
                  </ion-button>
                </ion-col>
              </ion-row>

            </ion-col>

            <ion-col size="12">
              <input type="file" #inputDocs style="width: 0px !important;height: 0px !important;" accept="application/pdf, .pdf" (change)="fileSelect($any($event).target.files)">
              <input type="file" #inputDocs2 style="width: 0px !important;height: 0px !important;" accept="application/pdf, .pdf" (change)="fileSelect2($any($event).target.files)">
              <ion-accordion-group expand="inset" style="width: 100%; margin: 10px auto;">
                
                <ion-accordion value="year">
                  <ion-item slot="header">
                    <ion-label>Documentos del vehículo</ion-label>
                  </ion-item>
  
                  <ion-grid fixed class="ion-padding" slot="content">
                    <ion-row>
                      <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" style="text-align: center;">
                        <ion-row>

                          <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length === 0 && !editCar" >
                            <ion-icon name="image"class="noPhotoIcon" ></ion-icon>
                            <br>
                            <span class="noPhotoTitle" >
                              Sin documentos cargados
                            </span>
                            <span class="noPhotoTitle" >Cargar Documentos</span>
                          </ion-col>

                          <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length === 0 && editCar" (click)="openASDocs()">
                            <ion-icon name="image" (click)="openASDocs()" class="noPhotoIcon" ></ion-icon>
                            <br>
                            <span class="noPhotoTitle" >
                              Sin documentos cargados
                            </span>
                            <span class="noPhotoTitle" >Cargar Documentos</span>
                          </ion-col>
            
                          <!-- <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length > 0">
                            <swiper-container [loop]="true" [pagination]="true">
                              <swiper-slide *ngFor="let image of arrayDocuments; let i = index">
                                <ion-row>
                                  <ion-col size="4" *ngIf="editCar">
                                    <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImageDoc(i,image)">
                                      <ion-icon name="trash" style="font-size: 30px;"></ion-icon>
                                    </ion-button>
                                  </ion-col>
                                  <ion-col size="4" *ngIf="editCar">
                                    
                                    
                                  </ion-col>
                                  <ion-col size="4" *ngIf="editCar">
                                    <ion-button expand="block" shape="round" (click)="editInputDocs(i,image)" class="btnRed">
                                      <ion-icon name="create" style="font-size: 30px;"></ion-icon>
                                    </ion-button>
                                  </ion-col>

                                  <ion-col size="12" *ngIf="editCar">
                                    <ion-img src="assets/images/logo/pdf_logo.png" style="width: 100%;height: 150px; margin: auto;"></ion-img>
                                  <span>{{image.name ? image.name : ''}}</span>
                                  </ion-col>

                                  <ion-col size="12" *ngIf="!editCar">
                                    <ion-img src="assets/images/logo/pdf_logo.png" style="width: 100%;height: 150px; margin: auto;"></ion-img>
                                    <span>{{image.name ? image.name : ''}}</span>

                                  </ion-col>


                                </ion-row>
                              </swiper-slide>
                              <div class="swiper-pagination"></div>
                            </swiper-container>
                            <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openInputDocs()" class="btnSaveRed" *ngIf="editCar">
                              Agregar imagen
                            </ion-button>
                          </ion-col> -->

                          <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length > 0 && editCar">
                            <ion-list>
                                <ion-grid fixed>
                                  <ion-row *ngFor="let doc of arrayDocuments; let i = index">
                                    <ion-col size="12">
                                      <ion-button expand="block" shape="round" class="btnRed" (click)="openPdf(doc.img)">
                                        <span>{{doc.name}}</span>
                                      </ion-button>
                                    </ion-col>
                                    <ion-col size="12">
                                      <ion-row>
                                        <ion-col size="6" style="text-align: center;">
                                          <ion-button expand="block" shape="round" class="btnRed" (click)="deleteImageDoc(i,doc)" style="width: 70% !important; margin: auto !important;">
                                            <ion-icon name="trash" ></ion-icon>
                                          </ion-button>
                                        </ion-col>
                                        <ion-col size="6" style="text-align: center;">
                                          <ion-button expand="block" shape="round" (click)="editInputDocs(i,doc)" class="btnRed" style="width: 70% !important; margin: auto !important;">
                                            <ion-icon name="create" ></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                      </ion-row>
                                    </ion-col>
                                  </ion-row>
                                </ion-grid>
                            </ion-list>
                            <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openInputDocs()" class="btnSaveRed">
                              Agregar documento
                            </ion-button>
                          </ion-col>

                          <ion-col sizeXl="12" sizeLg="12" sizeMd="12" sizeSm="12" sizeXs="12" *ngIf="arrayDocuments.length > 0 && !editCar">
                            <ion-list>
                              <ion-grid fixed>
                                <ion-row *ngFor="let doc of arrayDocuments; let i = index">
                                  <ion-col size="12">
                                    <ion-button expand="block" shape="round" class="btnRed" (click)="openPdf(doc.img)">
                                      <span>{{doc.name}}</span>
                                    </ion-button>
                                  </ion-col>
                                </ion-row>
                              </ion-grid>
                            </ion-list>
                            <ion-button expand="block" shape="round" style="margin-top: 20px;" (click)="openInputDocs()" class="btnSaveRed">
                              Agregar documento
                            </ion-button>
                          </ion-col>

                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-accordion>
              </ion-accordion-group>
            </ion-col>

            <ion-col size="12">
              <ion-button (click)="generatePdf()" expand="block" shape="round" class="btnRed">
                Compartir ficha del vehículo
              </ion-button>
            </ion-col>

            <ion-col size="12" *ngIf="!editCar">
              <ion-card>
                <ion-card-content>
                  <ion-row>
                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="carDetail.traction_control === 'true'">
                      <ion-img src="assets/images/logo/traccion.png" style="width: 25% !important;margin: 5px 0px !important"></ion-img>
                      <p style="font-size: 15px; font-weight: bold;">Control de tracción</p>
                      <span style="font-size: 10px; color: #898989">Estable y seguro</span>
                    </ion-col>

                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="carDetail.technology === 'true'">
                      <ion-img src="assets/images/logo/tecnologia.png" style="width: 29% !important;margin: 5px 0px !important"></ion-img>
                      <p style="font-size: 15px; font-weight: bold;">Tecnología</p>
                      <span style="font-size: 10px; color: #898989">Control de estabilidad(VSC)</span>
                    </ion-col>

                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="carDetail.performance === 'true'">
                      <ion-img src="assets/images/logo/performance.png" style="width: 25% !important;margin: 5px 0px !important"></ion-img>
                      <p style="font-size: 15px; font-weight: bold;">Performance</p>
                      <span style="font-size: 10px; color: #898989">V6 Twin Turbo (V35A-FTS)</span>
                    </ion-col>

                    <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6" *ngIf="carDetail.comfort === 'true'">
                      <ion-img src="assets/images/logo/confort.png" style="width: 20% !important;margin: 5px 0px !important"></ion-img>
                      <p style="font-size: 15px; font-weight: bold;">Confort</p>
                      <span style="font-size: 10px; color: #898989">Asientos tapizados en cuero natural y  ecológico</span>
                    </ion-col>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
            
            <ion-col size="12" *ngIf="carDetail.concesionary_maintenance">
              <ion-item-divider style="text-align: center;">
                <ion-label style="margin: 10px auto;color: #000;">¿SE REALIZARON LOS MANTENIMIENTOS <br> REGULARES EN EL CONCESIONARIO?</ion-label>
              </ion-item-divider>
  
              <ion-item class="itemSegment">
                <ion-segment [disabled]="!editCar" [(ngModel)]="carDetail.concesionary_maintenance">
                  <ion-segment-button [value]="false" class="segment-red">
                    <ion-label>No</ion-label>
                  </ion-segment-button>
                  <ion-segment-button [value]="true" class="segment-green">
                    <ion-label>Sí</ion-label>
                  </ion-segment-button>
                </ion-segment>
              </ion-item>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.mechanicalFile">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12" style="text-align: center;">
                    <p>Ficha Mecánica</p>
                  </ion-col>
                  <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12">
                    <ion-row>
                      <ion-col size="12">
                        
                        <ion-row *ngIf="carDetail.general_condition ==='excelente' || carDetail.general_condition >= 96">
                          <ion-col size="12">
                            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
                          </ion-col>
                          <ion-col size="5" style="text-align: right !important;">
                            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #11D800 !important"></ion-icon>
                          </ion-col>
                          <ion-col size="7"style="text-align: left !important;">
                            <p style="font-size: 25px !important; color: #11D800 !important;font-weight: bold;margin: 10px auto !important;">Excelente</p>
                          </ion-col>
                        </ion-row>
                
                        <ion-row *ngIf="carDetail.general_condition ==='bueno' || carDetail.general_condition >= 86 && carDetail.general_condition < 96">
                          <ion-col size="12">
                            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
                          </ion-col>
                          <ion-col size="5" style="text-align: right !important;">
                            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #F9D616 !important"></ion-icon>
                          </ion-col>
                          <ion-col size="7"style="text-align: left !important;">
                            <p style="font-size: 25px !important; color: #F9D616 !important;font-weight: bold;margin: 10px auto !important;">Bueno</p>
                          </ion-col>
                        </ion-row>
                        <ion-row *ngIf="carDetail.general_condition ==='regular' || carDetail.general_condition >= 76 && carDetail.general_condition < 86 ">
                          <ion-col size="12">
                            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
                          </ion-col>
                          <ion-col size="5" style="text-align: right !important;">
                            <ion-icon name="alert-circle-outline" style="font-size: 45px !important; color: #F7941D !important"></ion-icon>
                          </ion-col>
                          <ion-col size="7"style="text-align: left !important;">
                            <p style="font-size: 25px !important; color: #F7941D !important;font-weight: bold;margin: 10px auto !important;">Regular</p>
                          </ion-col>
                        </ion-row>
                
                        <ion-row *ngIf="carDetail.general_condition ==='malo' || carDetail.general_condition < 76">
                          <ion-col size="12">
                            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
                          </ion-col>
                          <ion-col size="5" style="text-align: right !important;">
                            <ion-icon name="close-circle-outline" style="font-size: 45px !important; color: #EB0A1E !important"></ion-icon>
                          </ion-col>
                          <ion-col size="7"style="text-align: left !important;">
                            <p style="font-size: 25px !important; color: #EB0A1E !important;font-weight: bold;margin: 10px auto !important;">Malo</p>
                          </ion-col>
                        </ion-row>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="12" sizeXs="12" style="text-align: center; margin: auto;">
                    <ion-button (click)="openFile(carDetail._id)" expand="block" shape="round" color="success">
                      Ver ficha técnica
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.mechanicalFile && carDetail.id_seller ===myId && carDetail.price_ofert === null && carDetail.final_price_sold=== null&& carDetail.sold===false">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-button expand="block" shape="round" color="success" (click)="editVehicle()" *ngIf="!editCar">
                      Editar detalles vehículos
                    </ion-button>
                    <ion-button expand="block" shape="round" color="success" (click)="updateVehicle()" *ngIf="editCar">
                      guardar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

            <ion-col size="12" *ngIf="carDetail.id_seller_buyer===null && carDetail.price !== 0 ||carDetail.id_seller_buyer==='null' && carDetail.price !== 0 || carDetail.id_seller_buyer==='' && carDetail.price !== 0&& carDetail.sold===false">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-button expand="block" shape="round" color="success" (click)="openModalBuy()">
                      Comprar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>
            
            <ion-col size="12" *ngIf="carDetail.id_seller_buyer!==null && carDetail.id_seller===myId&& carDetail.price_ofert !== null&& carDetail.final_price_sold !== null&& carDetail.sold===false">
              <ion-grid fixed>
                <ion-row>
                  <ion-col size="12">
                    <ion-button expand="block" shape="round" (click)="dispatched()" class="btnSaveRed" style="height: 40px">
                      Carro entregado 
                    </ion-button>
                  </ion-col>
                  <ion-col size="12">
                    <ion-button expand="block" shape="round" (click)="repost()" class="btnSaveRed" style="height: 40px">
                      Volver a publicar
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="12" *ngIf="!carDetail && !loading" style="text-align: center;">
        <ion-icon name="help-circle" class="iconNoInfo"></ion-icon>
        <p class="titleNoInfo">No se encontraron vehículos</p>
      </ion-col>

      <app-skeleton *ngIf="!loading"></app-skeleton>
    </ion-row>
  </ion-grid>

  <ion-modal #modalBuy>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="dismissModal()">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Completar formulario</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
      
        <ion-grid fixed>
          <ion-row>
            
            <ion-col size="12" style="text-align: center !important;">
              <ion-label>Ofertar por vehículo</ion-label>
            </ion-col>

            <ion-col size="12">
              <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Precio</ion-label>
              <ion-input type="tel" fill="outline" [value]="priceOfertAux" (ionInput)="dotPriceOfert($event.target)" [class.redBorder]="emptyPrice"></ion-input>
            </ion-col>

            <ion-col size="12" *ngIf="emptyPrice">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <span *ngIf="emptyPrice" style="color:red; font-size: 15px;">El campo precio es obligatorio</span>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Nombre del comprador</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="fullName" (ionInput)="validName($event)" [class.redBorder]="emptyName"></ion-input>
            </ion-col>

            <ion-col *ngIf="emptyName">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <span *ngIf="emptyName" style="color:red; font-size: 15px;">El campo nombre es obligatorio</span>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Cédula del comprador</ion-label>

              <ion-row>
                <ion-col size="4">
                  <ion-select [(ngModel)]="typeDni" interface="action-sheet" placeholder="tipo de vehículo" fill="outline" id="typeSelect" (ionChange)="validTypeDni($event)" [class.redBorder]="typeDoc">
                    <ion-select-option value="V">V</ion-select-option>
                    <ion-select-option value="E">E</ion-select-option>
                    <ion-select-option value="J">J</ion-select-option>
                    <ion-select-option value="G">G</ion-select-option>
                    <ion-select-option value="P">P</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="8">
                  <ion-input type="text" fill="outline" [(ngModel)]="dni" (ionInput)="validDni($event)" [class.redBorder]="emptyDni"></ion-input>
                </ion-col>
              </ion-row>

            </ion-col>

            <ion-col *ngIf="typeDoc || emptyDni">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <span *ngIf="typeDoc" style="color:red; font-size: 15px;">Ingrese cédula válida</span>
                  <span *ngIf="emptyDni" style="color:red; font-size: 15px;">El campo cédula es obligatorio</span>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12">
              <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Teléfono del comprador</ion-label>

              <ion-row>
                <ion-col size="4">
                  <ion-select [(ngModel)]="codePhone" interface="action-sheet" placeholder="Operadora" fill="outline" id="typeSelect" (ionChange)="validCodePhone($event)" [class.redBorder]="invalidCodePhone">
                    <ion-select-option value="0412">0412</ion-select-option>
                    <ion-select-option value="0414">0414</ion-select-option>
                    <ion-select-option value="0416">0416</ion-select-option>
                    <ion-select-option value="0424">0424</ion-select-option>
                    <ion-select-option value="0426">0426</ion-select-option>
                  </ion-select>
                </ion-col>
                <ion-col size="8">
                  <ion-input type="text" fill="outline" [(ngModel)]="phone" (ionInput)="validPhone($event)" [class.redBorder]="emptyPhoneNumber"></ion-input>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" *ngIf="invalidCodePhone || invalidPhoneNumber || emptyPhoneNumber">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <span *ngIf="invalidCodePhone" style="color:red; font-size: 15px;">Ingrese código de teléfono válido</span>
                  <span *ngIf="invalidPhoneNumber" style="color:red; font-size: 15px;">Ingrese número de teléfono válido</span>
                  <span *ngIf="emptyPhoneNumber" style="color:red; font-size: 15px;">El campo teléfono es obligatorio</span>
                </ion-col>
              </ion-row>
            </ion-col>  

            <ion-col size="12">
              <ion-label style="font-size: 14px; color: #898989; margin: 10px 0px !important;">Correo electrónico del comprador</ion-label>
              <ion-input type="text" fill="outline" [(ngModel)]="email" (ionInput)="validEmail($event)" [class.redBorder]="emptyEmail"></ion-input>
            </ion-col>

            <ion-col *ngIf="invalidEmail || emptyEmail">
              <ion-row>
                <ion-col size="12" style="text-align: center;">
                  <span *ngIf="invalidEmail" style="color:red; font-size: 15px;">Ingrese email válido</span>
                  <span *ngIf="emptyEmail" style="color:red; font-size: 15px;">El campo correo electrónico es obligatorio</span>
                </ion-col>
              </ion-row>
            </ion-col>
            
            <ion-col size="12" style="text-align: left !important; margin: 15px auto">
              <ion-label>
                <strong>
                  ***NOTA: No incluye costo de traslado****
                </strong> 
              </ion-label>
            </ion-col>

            <ion-col size="12">
              <ion-row>
                <ion-col size="12" style="text-align: center !important;">
                  <ion-label>¿Desea solicitar traslado?</ion-label>
                </ion-col>
                <ion-col size="6">
                  <ion-button  expand="block" shape="round" class="btnSaveRed" (click)="alertTransfer('si')">
                    Si
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button  expand="block" shape="round" class="btnSaveRed" (click)="alertTransfer('no')">
                    No
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-col>
            
            <ion-col size="12" style="margin-top: 50px !important">
              <ion-button  expand="block" shape="round" class="btnSaveRed" (click)="buyVehicle()">
                Ofertar
              </ion-button>
            </ion-col>
          
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-action-sheet  header="Opciones" [buttons]="actionSheetButtons" #actionSheet></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="actionSheetButtonsEdit" #actionSheetEdit></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="aSBtnsDocs" #ActionSheetDocs></ion-action-sheet>
  <ion-action-sheet header="Opciones" [buttons]="aSBtnsEditDocs" #ActionSheetEditDocs></ion-action-sheet>

  <ion-popover #popComparasion [isOpen]="openPop" (didDismiss)="openPop = false">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-item [button]="true" (click)="addComparison()">Agregar a comparación</ion-item>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>

