.header{
  background-color: black;
  color: white;
}

.colSearchBar{
  z-index: 9999;
  margin-top: -45px;
  position: absolute;
  left: 2px;
}

ion-card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  // height: 180px !important;
  box-shadow: none !important;
  ion-img{
    // width: 80%;
    // height: 60%;
    margin: auto !important
  }

  p{
    font-size: 10px;
    font-weight: 900;
  }
  span{
    font-size: 10px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 20px;
    margin: auto auto 10px auto!important;
    text-transform: capitalize !important;
  }
  

}

ion-input{
  --background: #F9F9F9 !important;
  --border-radius: 15px !important;
  --color: #1c1c1d !important;
  
  }

ion-checkbox{
  margin: auto ;
  --checked-background: #EB0A1E !important;
  --border-color: #EB0A1E !important;
  --border-color-checked: #EB0A1E !important;
  --checkbox-background-checked: #EB0A1E !important;
  --checkmark-color: #fff !important;
}

ion-accordion{

  ion-item::part(native){
    color: #fff !important;
    background: #EB0A1E !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    ion-icon{
      color: #fff !important;
    }
  }
}

#inputPasss{
  min-height: 40px !important;
  font-size: 20px !important;
}

#inputPasss{
  --highlight-color-focused: trasparent !important;
  --highlight-color-invalid: trasparent !important;
  --highlight-color-valid: trasparent !important;
}

.select-text{
  font-size: 20px !important;
  margin: auto 20px !important;
  // font-weight: 900;
  // color: #1c1c1d;
}

.textCenter{
  text-align: center !important;
}

.textLeft{
  text-align: left !important;
}

.redBorder{
  border: 1px solid #EB0A1E !important;
}

.noPhotoIcon{
  font-size: 150px !important ;
}

.noPhotoTitle{
font-size: 20px !important ;
}

.noPhotoSubtitle{
color: #5D5D5D !important; 
font-size: 12px !important ;
}

.segment-green{
  --color-checked: #00A651 !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(0, 166, 81,0.1);
  opacity: 1 !important;
}
.segment-red{
  --color-checked: #EB0A1E !important;
  --color: #000 !important;
  font-weight: bold;
  --background-checked: rgb(235, 10, 30,0.1);
  opacity: 1 !important;
}

.iconComparison{
  font-size: 40px;
  margin: 13px auto;
}

.certificate{
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  top:0;
  right:0;
  margin-top: -20px;
}

@media (max-width: 320px) {
  
  ion-item-divider{
    font-size: 12px !important;
    // ion-label{
    // }
  }
}

@media (max-width: 300px) {
  
  ion-item-divider{
    font-size: 11px !important;
    // ion-label{
    // }
  }
}

@media (max-width: 280px) {
  
  ion-item-divider{
    font-size: 10px !important;
    // ion-label{
    // }
  }
}

@media (max-width: 260px) {
  
  ion-item-divider{
    font-size: 9px !important;
    // ion-label{
    // }
  }
}