.header{
    background-color: black;
    color: white;
  }
  
  .colSearchBar{
    z-index: 9999;
    margin-top: -45px;
    position: absolute;
    left: 2px;
  }
  
  ion-card{
    background-color: #1c1c1d;
    color: white;
    span{
      color: #EB0A1E;
    }
    p{
      font-size: 16px;
      font-weight: 900;
    }
    ion-card-subtitle{
      font-size: 10px;
      font-weight: 900;
    }
  }
  
  ion-search-bar{
    --border-radius: 30px !important;
  }
  
  .cardVehicles{
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-position-x: right;
    background-color: #F9F9F9 !important;
    color: #1c1c1d !important;
    box-shadow: none !important;
    width: 160px !important;
    ion-img{
      width: 130px;
      height: 70px;
      margin: 18px 0px 0px 0px !important;
      img{
        width: 95% !important;
      }
    }
  
    p{
      font-size: 12px;
      font-weight: 900;
    }
    span{
      font-size: 12px;
      font-weight: 900;
      color: #1c1c1d;
    }
    ion-button{
      --border-radius: 30px !important;
      --background: #EB0A1E !important;
      --color: white !important;
      font-size: 10px;
      font-weight: 900;
      width: 70%;
      height: 20px;
      text-transform: capitalize !important;
    }
  
  }
  
  ion-input{
    --border-radius: 15px !important;
    --background: #F9F9F9 !important;
    --color: #585858 !important;
    width: 95%;
    height: 5px !important;
    margin: auto !important;
    font-weight: 700;
  }
  
  ion-select{
    width: 100%;
    --border-radius: 15px !important;
    --background: #F9F9F9 !important;
    margin: auto !important;
  }
  
  ion-col{
    margin: 3px auto !important;
  }
  
  // ion-label{
  //   color: #7D7D7D;
  //   font-size: 14px;
  // }
  #inputPasss{
    min-height: 30px !important;
  }
  
  .labelForm{
    color: #7D7D7D;
    font-size: 14px !important;
  }
  
  @media screen and (width:414px){
  
  }
  
  @media screen and (width:411px){
  
  }
  
  @media screen and (width:375px){
   
    .labelForm{
      font-size: 13px !important;
    }
  
    .btnOutlineRed{
      font-size: 14px !important;
      height: 40px !important;
    }
  
    .btnSaveRed{
        font-size: 14px !important;
        height: 40px !important;
    }
  
  }
  
  @media screen and (width:360px){
  
  }
  
  @media screen and (width:320px){
  
  }