.bntCloseMenu{
  color: #EB0A1E !important;
}

ion-avatar{
  margin: auto ! important;
  width: 80px ! important;
  height: 80px ! important;
}

.iconWhite{
  color: #fff !important;
  font-size: 80px !important;
  margin: auto !important;
  text-align: center !important;
}

::ng-deep{
  ion-item{  
    ion-label{
      font-family: "ToyotaRegular" !important;
    }
  }
}

app-skeleton{
  width: 100% !important;
  height: 100% !important;
}