<ion-menu contentId="main-content" side="end">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-grid fixed>
              <ion-row>
                <ion-col size="10" style="text-align: center;">
                  <ion-img src="assets/images/logo/logo_toyota_blanco.png" style="width: 40%; height: 60%; margin: 20px auto auto auto ;"></ion-img>
                </ion-col>
                <ion-col size="2">
                  <ion-icon name="close-circle-sharp" style="font-size: 40px;" (click)="closeMenu()" class="bntCloseMenu"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="12">
            <ion-row>
              <ion-col size="8">
                <p class="sidebarUsename" *ngIf="typeUser === 'seller'|| typeUser === 'mechanic'"> {{username}}</p>
                <p class="sidebarUsename" *ngIf="typeUser === 'admin'"> {{username ? username : "Administrador"}}</p>
                <p class="sidebarUsename" *ngIf="typeUser === 'admin_concesionary'">{{concesionary}}</p>
                <p class="sidebarTypeuser">
                  <span *ngIf="typeUser === 'admin' || typeUser === 'add-admin-concesionary'">Administrador</span>
                  <span *ngIf="typeUser === 'seller'">Vendedor</span>
                  <span *ngIf="typeUser === 'mechanic'">Técnico</span>
                </p>
              </ion-col>

              <ion-col size="4">
                <ion-avatar *ngIf="image !==null" (click)="openActionSheetEdit()">
                  <img [src]="image.img"/>
                </ion-avatar>

                <ion-icon name="person-circle" *ngIf="image ===null" class="iconWhite" (click)="openActionSheet()"></ion-icon>

              </ion-col>
            </ion-row>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding"  *ngIf="typeUser === 'seller'">
    <ion-list>
      <!-- buttons seller -->
      <ion-item button (click)="goTo('seller')">
        <ion-label>Inicio</ion-label>
        <ion-icon slot="end" name="home"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('add-vehicle')">
        <ion-label>Vender</ion-label>
        <ion-icon slot="end" name="logo-usd"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('buy-car')">
        <ion-label>Comprar</ion-label>
        <ion-icon slot="end" name="cash-outline"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('my-vehicles')">
        <ion-label>Mis Vehículos</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('my-offerts')">
        <ion-label>Mis Ofertas</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('comparison')">
        <ion-label>Comparar Vehículos</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('graphics')">
        <ion-label>Gráficas</ion-label>
        <ion-icon name="stats-chart"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('add-mechanic')">
        <ion-label>Añadir técnico</ion-label>
        <ion-icon name="construct-outline"></ion-icon>
      </ion-item>
    </ion-list>

  </ion-content>

  <ion-content class="ion-padding"  *ngIf="typeUser === 'mechanic'">
    <ion-list>
      <!-- buttons mechanics -->
      <ion-item button (click)="goTo('mechanic')">
        <ion-label>Inicio</ion-label>
        <ion-icon name="home"></ion-icon>
      </ion-item>
      <ion-item button (click)="goTo('inspections')">
        <ion-label>Inspecciones</ion-label>
        <ion-icon name="create"></ion-icon>
      </ion-item>

    </ion-list>

  </ion-content>

  <ion-content class="ion-padding" *ngIf="typeUser === 'admin' || typeUser === 'admin_concesionary'">
    <div *ngFor="let item of menuAdmin">
      <ion-menu-toggle *ngIf="item.url">
        <ion-item button (click)="goTo(item.url)" [class.active]="item.active">
          <ion-icon slot="start" [name]="item.icon"></ion-icon>
          <ion-label>{{item.title}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-item *ngIf="item.children" (click)="item.open = !item.open" detail="false" [class.active-parent]="item.open">
        
        <ion-icon slot="start" [name]="item.icon"></ion-icon>
        <ion-label>{{item.title}}</ion-label>
        <ion-icon slot="end" [name]="item.open ? 'chevron-down-outline' : 'chevron-forward-outline'"></ion-icon>
      </ion-item>

      <ion-list *ngIf="item.open">
        <ion-menu-toggle >
          <ion-item button *ngFor="let sub of item.children" (click)="goTo(sub.url)" [class.active]="sub.active">
            <ion-icon slot="start" [name]="sub.icon"></ion-icon>
            <ion-label>{{sub.title}}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </div>
  </ion-content>

  <ion-footer>
    <ion-list>
      <ion-item button (click)="logout()">
        <ion-label>Cerrar Sesión</ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-item>
    </ion-list>
  </ion-footer>
</ion-menu>

<ion-action-sheet trigger="open-action-sheet" header="Opciones" [buttons]="actionSheetButtons" #ActionSheet></ion-action-sheet>
<ion-action-sheet  header="Opciones" [buttons]="actionSheetButtonsEdit" #ActionSheetEdit></ion-action-sheet>

<ion-app>
  <ion-router-outlet id ="main-content"></ion-router-outlet>
</ion-app>
