<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Opciones filtro</ion-title>
    <ion-buttons slot="end">
      <ion-button [strong]="true" (click)="applyFilter()">Filtrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-accordion-group expand="inset" [value]="['year']">

    <ion-accordion value="year">
      <ion-item slot="header">
        <ion-label>Año</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-input label="Minimo" labelPlacement="stacked" [(ngModel)]="minYears"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Maximo" labelPlacement="stacked" [(ngModel)]="maxYears"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="brand">
      <ion-item slot="header">
        <ion-label>Marca</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let model of arrayModels">
            <ion-label>{{model.modelo}}</ion-label>
            <ion-checkbox slot="start" [value]="model.modelo"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="model">
      <ion-item slot="header">
        <ion-label>Modelo</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let model of arrayModels">
            <ion-label>{{model.modelo}}</ion-label>
            <ion-checkbox slot="start" [value]="model.modelo"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="kms">
      <ion-item slot="header">
        <ion-label>Kilometros</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-input label="Minimo" labelPlacement="stacked" [(ngModel)]="minKms"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Maximo" labelPlacement="stacked" [(ngModel)]="maxKms"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="location">
      <ion-item slot="header">
        <ion-label>Ubicación</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item *ngFor="let state of arrayUbication">
            <ion-label>{{state.estado}}</ion-label>
            <ion-checkbox slot="start" [value]="state.estado"></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

    <ion-accordion value="price">
      <ion-item slot="header">
        <ion-label>Precio</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-list>
          <ion-item>
            <ion-input label="Minimo" labelPlacement="stacked" [(ngModel)]="minPrice"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Maximo" labelPlacement="stacked" [(ngModel)]="maxPrice"></ion-input>
          </ion-item>
        </ion-list>
      </div>
    </ion-accordion>

  </ion-accordion-group>

</ion-content>
