<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="getScrollPos($event)">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="header">
        <ion-row>
          <ion-col size="2">
            <ion-icon name="arrow-back-circle-sharp" class="iconBack" (click)="goBack()"></ion-icon>
          </ion-col>
          <ion-col size="10" style="text-align: center;">
            <p class="headerTitle">Ficha Mecánica</p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>INTERIOR</ion-label>
            </ion-item-divider>

            <ion-label>Volante (apariencia, juego libre, flojedad o tambaleo)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.steering_wheel" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Pedales (apariencia y altura del pedal)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.pedals" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Medidores y luces del tablero</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.gauges_dashboard_lights" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Palanca de cambio de transmisión (apariencia, funcionamiento suave)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.transmission_shift_lever" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Palanca de freno (Funcionamiento)r</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.brake_lever" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Accesorios (audio, aire acondicionado, sensores)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.accessories" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Tapicería interna (asientos, puertas y tableros)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.internal_upholstery" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>
            
            <ion-label>Luces de cortesía</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.courtesy_lights" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <!-- <ion-label>Estado de tapicería (Asientos techo, <br class="br280"> alfombras y <br class="br280notDis"> tapicería de puertas)</ion-label> -->
            <ion-label>Parabrisas (apariencia, funcionamiento de cepillos y duchas)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.windshield" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <!-- <ion-label>Cepillos limpia parabrisas - Ducha Limpia <br> parabrisas</ion-label> -->
            <ion-label>Funcionamiento de vidrios de ventana (manuales o eléctricos)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.window_glass_operation" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Seguros y manillas de puerta</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.door_locks_handles" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Operación de Retrovisores manuales o eléctricos</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.operation_manual_electric_mirrors" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Cinturones de Seguridad (mecanismo de bloqueo y cinta)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.seat_belts" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-item-divider>
              <ion-label>FRONTAL</ion-label>
            </ion-item-divider>

            <ion-label>Parachoques delanteros (cuadratura y ajuste)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.front_bumpers" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Parrilla frontal (cuadratura y ajuste)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.front_grill" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Faros, luces de cruce y cocuyos (funcionamiento y condición)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.headlights_low_beams_cocuyos" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Faros antinieblas *si aplica* (funcionamiento y condición)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.fog_lights" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>
            

            <ion-item-divider>
              <ion-label>COMPARTIMIENTO DEL MOTOR</ion-label>
            </ion-item-divider>

            <ion-label>Capot (operación, ruido, descuadre, varilla, soporte)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.bonnet" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Encendido del motor</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.engine_ignition" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Ruidos de motor (parámetro excluyente)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.engine_noises" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>
            
            <ion-label>Fluidos estado general (aceite de motor, dirección, liga de freno refrigerante)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.general_condition_fluids" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Depósitos de fluidos (estado de los envases y tapas)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.fluid_reservoirs" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Bujías y bobinas condición general</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.spark_plugs_coils_general_condition" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Filtro de aire </ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.air_filter" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Correas de transmisión</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.transmission_belts" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>apariencia Mangueras, tapas, sellos y conexiones</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.appearance_hoses_caps_seals_connections" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Estado de la batería (voltaje) y apriete o corrosión de los terminales </ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.battery_condition_terminal_tightness_corrosion" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Fuga de fluidos (Empacaduras, sellos, mangueras)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.fluid_leak" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Condición general de la compresión del motor (medir compresión de todos los cilindros)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.general_engine_compression_condition" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="6" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="6" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-item-divider>
              <ion-label>BAJO CHASIS</ion-label>
            </ion-item-divider>
          
            <ion-label>Barras estabilizadoras (gomas, links)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.stabilizer_bars" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Rodamientos</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.bearings" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Juntas homocinéticas y guardapolvos (apariencia fuga de grasa y presencia de todas sus abrazaderas¨)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.joints_dust_covers" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Amortiguadores (fugas)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.shock_absorbers" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Espirales (corrosión excesiva o quiebre)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.spirals" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Mesetas sup.e inf. (bujes con desgaste y muñones con juego)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.upper_lower_plateaus" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>


            <ion-label>Muñones (juego)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.stumps" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Terminales de dirección (int y ext)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.terminal_blocks" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Frenos (disco y pastilla)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.brakes" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Cardan o Eje de Transmisión (juego en crucetas, ruidos o golpes)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.cardan_transmission_shaft" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Fugas de aceite de motor/transmisión (Empacaduras, sellos)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.engine_transmission_oil_leaks" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Fuga de aceite hidráulico  en cajetín de dirección</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.hydraulic_oil_leak_steering_box" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Oxido excesivo en el bastidor o compacto</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.excessive_rust_on_frame_compact" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Tubo de escape (anclajes de goma, sin fuga, ni perforaciones)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.exhaust_pipe" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-item-divider>
              <ion-label>LATERALES</ion-label>
            </ion-item-divider>

            <ion-label>Puertas (abren,cierra y funcionan los seguros)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.doors" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-item-divider>
              <ion-label>TRASERAS</ion-label>
            </ion-item-divider>

            <ion-label>Stop (Incluyendo 3er Stop)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.stop" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="2" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Compuerta del surtidor de combustible (función apertura y tapa)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.fuel_pump_door" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Puerta del Maletero (Funcionamiento y cuadratura)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.trunk_door" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Interior del Maletero (alfombras)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.trunk_interior" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Caucho de repuesto y Juego de Herramientas (gato y Triangulo de seguridad)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.replacement_rubber_tool_set" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-item-divider>
              <ion-label>EXTERIOR</ion-label>
            </ion-item-divider>

            <ion-label>Emblemas completos</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.complete_emblems" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Carrocería (golpes, abolladuras, oxidada o picada)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.bodywork" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Pintura (decoloración, tonalidad, rayones (+2cm)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.paint" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="3" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Estado de los neumáticos ( presión y desgaste no uniforme o anormal)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.tire_condition" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

            <ion-label>Ornamentos de ruedas (tapa centro de rin)</ion-label>
            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.wheel_ornaments" 
              (ionChange)="generalCondition($event)">
                <ion-radio value="0" labelPlacement="end" class="radioSmall">No cumple</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioSmall">Mejorar</ion-radio>
                <ion-radio value="1" labelPlacement="end" class="radioBig">Cumple</ion-radio>
              </ion-radio-group>
            </ion-list>

          </ion-item-group>

        </ion-list>
      </ion-col>

      <ion-col size="12" style="text-align: center; margin-top: 15px !important;">

        <ion-row *ngIf="newMechanicalFile.general_condition">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #11D800 !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #11D800 !important;font-weight: bold;margin: 10px auto !important;">Excelente</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="newMechanicalFile.general_condition">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #F9D616 !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #F9D616 !important;font-weight: bold;margin: 10px auto !important;">Bueno</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="newMechanicalFile.general_condition">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="alert-circle-outline" style="font-size: 45px !important; color: #F7941D !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #F7941D !important;font-weight: bold;margin: 10px auto !important;">Regular</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="newMechanicalFile.general_condition">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="close-circle-outline" style="font-size: 45px !important; color: #EB0A1E !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #EB0A1E !important;font-weight: bold;margin: 10px auto !important;">Malo</p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>
                ¿ Se realizaron reparaciones en el taller/concesionario luego de su ingreso. ?
              </ion-label>
            </ion-item-divider>

            <ion-list>
              <ion-radio-group 
              [(ngModel)]="newMechanicalFile.dealer_maintenance"
              >
                <ion-radio value="si" labelPlacement="end" class="radioSmall">Si</ion-radio>
                <ion-radio value="no" labelPlacement="end" class="radioSmall">No</ion-radio>
              </ion-radio-group>
            </ion-list>

          </ion-item-group>
        </ion-list>
      </ion-col>

      <ion-col size="12">
        <ion-button expand="block" shape="round" class="btnSaveRed" (click)="saveMechanicalFile()" style="margin: auto 6px !important;" [disabled]="disabledSave">
          Cargar
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="backToTop">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>


