<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" class="header">
          <ion-row>
            <ion-col size="2">
              <ion-icon name="arrow-back-circle-sharp" class="iconBack" (click)="goBack()"></ion-icon>
            </ion-col>
            <ion-col size="8" style="text-align: center;">
              <ion-img src="assets/images/logo/logo_toyota_blanco.png" class="logoRed"></ion-img>
            </ion-col>
            <ion-col size="2">
              <ion-icon name="menu-outline" class="iconMenu" (click)="openMenu()"></ion-icon>
            </ion-col>
          </ion-row>
      </ion-col>

      <ion-col size="12" style="text-align: left; margin: 10px auto !important;">
        <ion-title class="titlePage">Gráfica de ventas</ion-title>
      </ion-col>

      <ion-col size="12">
        <ion-card class="cardChart">
          <ion-card-content >
            <canvas #lineCanvas style="position: relative; height:20vh!important; width:40vw!important"></canvas>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-button expand="block" shape="round" class="btnRed" (click)="openModal()" style="width: 90% !important; margin: auto !important;text-transform: capitalize;">
          filtro de gráfica
        </ion-button>
      </ion-col>

      <ion-col size="12" style="border-bottom: 1px solid black !important;margin-top: 20px !important;">
      </ion-col>

      <ion-col size="12" style="text-align: left; margin: 30px auto auto auto !important;">
        <ion-title class="titlePage">
          Lista de vehículos <br>
          <span style="font-size: 14px;"> 
            Selecciona 1 o más filtros
          </span> 
        </ion-title>
      </ion-col>

      <ion-list-header class="headerList">
        <ion-col sizeXl="4" sizeLg="4" sizeMd="5" sizeSm="5" sizeXs="5">
          <ion-button (click)="exportExcel()" expand="block" shape="round" class="btnRed" style="text-transform: capitalize;" >Exportar</ion-button>
        </ion-col>
        <ion-col sizeXl="2" sizeLg="2" sizeMd="1" sizeSm="1" sizeXs="1">
        </ion-col>
        <ion-col sizeXl="6" sizeLg="6" sizeMd="6" sizeSm="6" sizeXs="6">
          <ion-button expand="block" shape="round" class="btnRed" (click)="openModalVehicle()" style="text-transform: capitalize;" >Filtro de Ventas</ion-button>
        </ion-col>
        <!-- <ion-label style="font-size: 18px; color: black; font-weight: 600;">Lista de vehículos</ion-label> -->
      </ion-list-header>
      <ion-col size="12" style="margin-top: 20px !important;">
        <ion-list *ngFor="let modelCar of arrayListCars">

          <ion-item-divider >
            <ion-label style="font-size: 18px;color: black;font-weight: 600;">{{modelCar._id}}</ion-label>
          </ion-item-divider>

          <ion-item>
            <ion-col size="4" style="text-align: center !important;">
              <ion-label style="font-size: 15px;color: black;font-weight: 600;">Precio Max.</ion-label>
              <ion-label style="font-size: 16px;color: black;font-weight: 600;">${{modelCar.maxPriceGlobal ? setDot(modelCar.maxPriceGlobal) : 0}}</ion-label>
            </ion-col>
            <ion-col size="4" style="text-align: center !important;">
              <ion-label style="font-size: 15px;color: black;font-weight: 600;">Precio Prom.</ion-label>
              <ion-label style="font-size: 16px;color: black;font-weight: 600;">${{modelCar.avgPriceGlobal ? setDot(modelCar.avgPriceGlobal) : 0}}</ion-label>
            </ion-col>
            <ion-col size="4" style="text-align: center !important;">
              <ion-label style="font-size: 15px;color: black;font-weight: 600;">Precio Min.</ion-label>
              <ion-label style="font-size: 16px;color: black;font-weight: 600;">${{modelCar.minPriceGlobal ? setDot(modelCar.minPriceGlobal) : 0}}</ion-label>
            </ion-col>
          </ion-item>
          
          <ion-item *ngFor="let vehicle of modelCar.vehicles">
            <ion-card (click)="detailCar(vehicle._id)">
              <ion-card-content>
                <ion-grid fixed>
                  <ion-row>
                    <ion-col size="5" class="colCardGraphImg">
                      <ion-icon name="image" *ngIf="vehicle.imgVehicle === null" class="iconCard"></ion-icon>
                      <ion-img [src]="vehicle.imgVehicle.img" *ngIf="vehicle.imgVehicle !==null"></ion-img>
                    </ion-col>
                    <ion-col size="7" class="colCardGraphInfo">
                      <ion-row>
                        <ion-col size="12">
                          <ion-card-title style="font-weight: bold;" class="modelCar">{{vehicle.model}}</ion-card-title>
                          <ion-card-subtitle class="cityCar">Vendido/a en {{vehicle.city}}</ion-card-subtitle>
                        </ion-col>
                        <ion-col size="12" style="text-align: center;">
                          <ion-card-title  class="priceCar">
                            <!-- {{vehicle.price | currency:'USD':true:'1.0-0'}} -->
                            ${{vehicle.price ? setDot(vehicle.price) : 0}}
                          </ion-card-title>
                          <ion-card-title class="dateCar">
                            {{vehicle.date_sell}}
                          </ion-card-title>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-item>

        </ion-list>
        
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #ModalFilterGraphicSeller>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="closeModal()" [strong]="true">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Opciones filtro</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="applyFilter()">Filtrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding filterGraphic">

        <ion-title style="text-align: center !important;font-weight: 700 !important;">Selecciona 1 o más filtros</ion-title>
        <ion-accordion-group expand="inset" [value]="['brand']">

          <ion-accordion value="brand">
            <ion-item slot="header">
              <ion-label>Marca</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="brandCar">
                    <ion-item>
                      <ion-label>Todos</ion-label>
                      <ion-radio value=""></ion-radio>
                    </ion-item>
                  <ion-item *ngFor="let brand of arrayBrands">
                    <ion-label>{{brand.name}}</ion-label>
                    <ion-radio [value]="brand.name"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>
      
          <ion-accordion value="model">
            <ion-item slot="header">
              <ion-label>Modelo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="modelCar">
                  <ion-item>
                    <ion-label>Todos</ion-label>
                    <ion-radio value=""></ion-radio>
                  </ion-item>
                  <ion-item *ngFor="let model of arrayModels">
                    <ion-label>{{model.model}}</ion-label>
                    <ion-radio [value]="model.model"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>
          
          <ion-accordion value="year_vehicle">
            <ion-item slot="header">
              <ion-label>Año del vehículo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-item>
                  <ion-input label="Año" labelPlacement="stacked" (ionInput)="dotMinYear($event.target)" [value]="yearCarAux"></ion-input>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>

          <ion-accordion value="month_range">
            <ion-item slot="header">
              <ion-label>Rango de meses</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="rangMonths">
                  <ion-item>
                    <ion-label>12 meses</ion-label>
                    <ion-radio [value]="12"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>6 meses</ion-label>
                    <ion-radio [value]="6"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>3 meses</ion-label>
                    <ion-radio [value]="3"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>1 mes</ion-label>
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>

          <ion-accordion value="month">
            <ion-item slot="header">
              <ion-label>Por mes</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="month">
                  <ion-item>
                    <ion-label>Enero</ion-label>
                    <ion-radio [value]="1"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Febrero</ion-label>
                    <ion-radio [value]="2"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Marzo</ion-label>
                    <ion-radio [value]="3"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Abril</ion-label>
                    <ion-radio [value]="4"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Mayo</ion-label>
                    <ion-radio [value]="5"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Junio</ion-label>
                    <ion-radio [value]="6"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Julio</ion-label>
                    <ion-radio [value]="7"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Agosto</ion-label>
                    <ion-radio [value]="8"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Septiembre</ion-label>
                    <ion-radio [value]="9"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Octubre</ion-label>
                    <ion-radio [value]="10"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Noviembre</ion-label>
                    <ion-radio [value]="11"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Diciembre</ion-label>
                    <ion-radio [value]="12"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>

          <ion-accordion value="prom_price">
            <ion-item slot="header">
              <ion-label>Rango de Precio (Max, Prom, Min)</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="triple_m">
                  <ion-item>
                    <ion-label>Ninguno</ion-label>
                    <ion-radio value=""></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Todos</ion-label>
                    <ion-radio value="all"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Máximo</ion-label>
                    <ion-radio value="max"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Promedio</ion-label>
                    <ion-radio value="mid"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Minímo</ion-label>
                    <ion-radio value="min"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>

        </ion-accordion-group>
      
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #ModalFilterVehicleSeller>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button color="medium" (click)="closeModal2()" [strong]="true">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Opciones filtro</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="applyFilter2()">Filtrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content class="ion-padding filterGraphic">
        <ion-title style="text-align: center !important;font-weight: 700 !important;">Selecciona 1 o más filtros</ion-title>
        <ion-accordion-group expand="inset" [value]="['brand']">

          <ion-accordion value="brand">
            <ion-item slot="header">
              <ion-label>Marca</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="brandCar2">
                    <ion-item>
                      <ion-label>Todos</ion-label>
                      <ion-radio value=""></ion-radio>
                    </ion-item>
                  <ion-item *ngFor="let brand of arrayBrands">
                    <ion-label>{{brand.name}}</ion-label>
                    <ion-radio [value]="brand.name"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>
      
          <ion-accordion value="model">
            <ion-item slot="header">
              <ion-label>Modelo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-radio-group [(ngModel)]="modelCar2">
                  <ion-item>
                    <ion-label>Todos</ion-label>
                    <ion-radio value=""></ion-radio>
                  </ion-item>
                  <ion-item *ngFor="let model of arrayModels">
                    <ion-label>{{model.model}}</ion-label>
                    <ion-radio [value]="model.model"></ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
            </div>
          </ion-accordion>
          
          <ion-accordion value="year_vehicle">
            <ion-item slot="header">
              <ion-label>Año del vehículo</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-item>
                  <ion-input label="Año" labelPlacement="stacked" (ionInput)="dotMinYear2($event.target)" [value]="yearCarAux2"></ion-input>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>

          <ion-accordion value="date_range">
            <ion-item slot="header">
              <ion-label>Rango de fecha</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-item>
                  <ion-label>Desde</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="dateFrom" presentation="date" [value]="today" (ionChange)="onDateFromChange($event)"></ion-datetime>
                </ion-item>
                <ion-item>
                  <ion-label>Desde</ion-label>
                  <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="dateTo" presentation="date" [value]="today" (ionChange)="onDateToChange($event)"></ion-datetime>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>

        </ion-accordion-group>
      
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

