.header{
  background-color: black;
  color: white;
}

.colSearchBar{
  z-index: 9999;
  margin-top: -45px;
  position: absolute;
  left: 2px;
}

ion-card{
  background-color: #F9F9F9 !important;
  color: #1c1c1d !important;
  // height: 180px !important;
  box-shadow: none !important;
  ion-img{
    width: 130px ;
    height: 80px ;
    margin: 16px 0px 0px -25px;
  }

  p{
    font-size: 10px;
    font-weight: 900;
  }
  span{
    font-size: 10px;
    font-weight: 900;
    color: #1c1c1d;
  }
  ion-button{
    --border-radius: 30px !important;
    --background: #EB0A1E !important;
    --color: white !important;
    font-size: 10px;
    font-weight: 900;
    width: 70%;
    height: 20px;
    margin: auto auto 10px auto!important;
    text-transform: capitalize !important;
  }
}

.iconCard{
  font-size: 90px !important; 
  margin: 16px 0px 0px 0px !important;
}

canvas {
  width: 315px!important;
  height: 330px!important;
}

.cardChart{
  position: relative;
  height: 355px;
  width: 335px;
  display: block;
  box-sizing: border-box;
  margin: 20px auto;
}

.styleChart{
  position: relative;
  height: 328px;
  width: 302px;
  display: block;
  box-sizing: border-box;
}

ion-list{
  ion-item::part(native){
    background: #FFF !important;
    color: #000 !important;
    ion-label{
      color: #000 !important;
    }
  }
}


ion-item::part(native){
  color: #fff !important;
  background: #EB0A1E !important;
  font-weight: 600 !important;
  font-size: 20px !important;
  ion-icon{
    color: #fff !important;
  }
}

// ion-accordion{
//   border-top-left-radius: 8px !important;
//   border-top-right-radius: 8px !important;
//   border-bottom-left-radius: 8px !important;
//   border-bottom-right-radius: 8px !important;
//   margin: 5px auto !important;
// }

.headerList{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  ion-label{
    text-align: center;
  }
}

ion-radio {
  // --border-radius: 8px;
  --color: #EB0A1E;
  --color-checked: #EB0A1E;
  // --inner-border-radius: 2px
}

.cityCar{
  font-size: 13px !important;
  font-weight: 600 !important;
  color: black !important;
}
.priceCar{
font-weight: bold !important; 
color: green !important; 
font-size: 17px !important;
}

.dateCar{
  color: black !important; 
  font-weight: 600 !important; 
  font-size: 14px !important;
}

@media screen and (max-width:414px){
  ion-card{
    ion-img{
      width: 125px !important;
      margin: auto 0px !important;
    }
  }
}

@media screen and (max-width:412px){
  ion-card{
    ion-img{
      width: 110px !important;
    }
  }
}

@media screen and (max-width:411px){
  ion-card{
    ion-img{
      width: 110px !important;
    }
  }
}

@media screen and (max-width:393px){
  ion-card{
    ion-img{
      width: 115px !important;
    }
  }
}

@media screen and (max-width:390px){
  ion-card{
    ion-img{
      width: 115px !important;
    }
  }
}

@media screen and (max-width:375px){
  ion-card{
    ion-card-subtitle{
      font-size: 10px !important; 

    }
    ion-img{
      width: 110px !important;
      height: 70px !important;
      margin: 15px 0px !important;
    }
  }

  .titleCardHome{
    font-size: 11px !important;
  }

  // .cardVehicles{

  //   ion-img{
  //     width: 130px !important;
  //     height: 60px !important;
  //     margin: 17px 0px 0px 0px !important;
  //     img{
  //       width: 95% !important;
  //     }
  //   }

  //   p{
  //     font-size: 11px !important;
  //     // font-weight: 900;
  //   }
  // }

  .iconCard{
    font-size: 75px !important; 
    margin: 16px 0px 0px 0px !important;
  }

  .modelCar{
    font-size: 19px !important;
  }

  .cityCar{
    font-size: 13px !important;
  }
  
  .priceCar{
    font-size: 13px !important;
  }

  .titlePage{
    font-size: 19px !important;
  }

  .btnRed{
    font-size: 13px !important;
  }

}

@media screen and (max-width:360px){
  ion-card{
    ion-card-subtitle{
      font-size: 10px !important; 

    }
    ion-img{
      width: 95px !important;
      height: 65px !important;
      margin: 15px 0px !important;
    }
  }
}

@media screen and (max-width:350px) {
  .colDateCar{
    .dateCar{
      font-size: 9px !important;
    }
  }
  .colPriceCar{
    .priceCar{
      font-size: 11px !important;
    }
  }
}

@media screen and (max-width:320px){

  ion-card{
    ion-img{
      width: 70px !important;
      height: 60px !important;
      margin: 15px 0px !important;
    }
  }
}

@media screen and (max-width:280px){
  ion-card{
    ion-img{
      width: 70px !important;
      height: 60px !important;
      margin: 15px 0px !important;
    }
  }
}