<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>

      <ion-col size="12" class="header">
        <ion-grid fixed >
          <ion-row>
            <ion-col size="2">
              <ion-row>
                <ion-col size="12">
                  <ion-img src="assets/images/logo/flag_vzla.png" style="width: 30px;height: 30px;margin: auto !important;"></ion-img>
                </ion-col>
                <ion-col size="12">
                  <ion-img src="assets/images/logo/logo_toyota_blanco.png" style="width: 45px;"></ion-img>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="6" style="text-align: left; ">
              <p style="font-size: 28px;margin-top: 40px;">Toyousados</p>
            </ion-col>
            <ion-col size="2">
              <ion-badge mode="ios" style="position: absolute !important;top: 30% !important;right: 22% !important;" *ngIf="countNotifies>0">{{countNotifies}}</ion-badge>
              <ion-icon name="notifications" style="font-size: 35px; align-items: center;align-content: center;justify-content: center;align-self: center;margin-top: 85%;" (click)="openModalNotification()" *ngIf="arrayNotifies.length > 0"></ion-icon>
              <!-- -->
            </ion-col>
            <ion-col size="2">
              <ion-icon name="menu-outline" style="font-size: 35px; align-items: center;align-content: center;justify-content: center;align-self: center;margin-top: 85%;" (click)="openMenu()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>

      <ion-col size="12">
        <ion-grid fixed>
          <ion-row>
            <!-- searchbar -->
            <ion-col size="12" class="colSearchBar">
              <ion-searchbar [debounce]="250" showCancelButton="never" show-clear-button="never" id="searchbarHome"></ion-searchbar>
            </ion-col>

            <!-- Card -->
            <ion-col size="12" style="margin-top: 20px;">
              <ion-card (click)="goTo()" *ngIf="countInspections > 0">
                <ion-card-header>
                  <ion-card-subtitle>Presiona para completar el formulario.</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                  <p>
                    Realizar inspección mécanica
                  </p>
                  <hr>
                  <span>
                    Tienes un auto ({{countInspections}}) esperando por revisión
                  </span>
                </ion-card-content>
              </ion-card>

              <ion-card *ngIf="countInspections === 0">
                <ion-card-header>
                  <ion-card-subtitle>Estimado usuario</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content style="text-align: center;">
                  <p>
                    No tiene Inspecciones que realizar
                  </p>
                  <hr>
                  <!-- <span>
                    Tienes un auto (1) esperando por revisión
                  </span> -->
                </ion-card-content>
              </ion-card>

            </ion-col>

            <ion-col size="12" style="text-align: left;">
              <span>Todos los modelos</span>
            </ion-col>

            <ion-col size="6" *ngFor="let vehicle of arrayVehicles">

              <ion-card class="cardVehicles" [style.backgroundImage]="'url( assets/images/logo/poster_lateral.png )'">

                <ion-img src="assets/images/carro/toyota1.png"></ion-img>
                <ion-card-content>
                  <p>
                    {{vehicle.model}}
                  </p>
                  <span>
                    {{vehicle.year}}
                  </span>
                </ion-card-content>
                <ion-button expand="block" shape="round" (click)="goDetail(vehicle._id)">
                  ver detalle
                </ion-button>
              </ion-card>

            </ion-col>

            
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal #modalNotifications>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Notificaciones</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="closeModal()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-list>
          <ion-item button *ngFor="let notis of arrayNotifies" (click)="openDetailNotification(notis._id)">
            <ion-label>{{notis.title}}</ion-label>
            <ion-icon slot="end" name="ellipse" *ngIf="!notis.status" class="iconRed"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal #modalDetailNotification>
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Notificación</ion-title>
          <ion-buttons slot="end">
            <ion-button [strong]="true" (click)="closeModalDetail()">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <ion-row>
          <ion-col size="12" style="text-align: center !important; margin-top: 30px;">
            <ion-title>{{notificationById.title}}</ion-title>
          </ion-col>
          <ion-col size="12" style="text-align: center !important; margin-top: 15px;">
            <span>{{notificationById.message}}</span>
          </ion-col>
          <ion-col size="12" style="margin-top: 15px;">
            {{notificationById.date}}
          </ion-col>
        </ion-row>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
