<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="getScrollPos($event)">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" class="header">
        <ion-row>
          <ion-col size="2">
            <ion-icon name="arrow-back-circle-sharp" style="color: white; font-size: 40px; margin: auto;margin-top: 35px;" (click)="goBack()"></ion-icon>
          </ion-col>
          <ion-col size="10" style="text-align: center;">
            <p style="font-size: 30px; margin-top: 35px;">Ficha Mécanica</p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12" style="text-align: center; margin-top: 15px !important;">
        <ion-row *ngIf="mechanicalFile.general_condition ==='excelente'">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #11D800 !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #11D800 !important;font-weight: bold;margin: 10px auto !important;">Excelente</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="mechanicalFile.general_condition ==='bueno'">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="shield-checkmark-outline" style="font-size: 45px !important; color: #F9D616 !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #F9D616 !important;font-weight: bold;margin: 10px auto !important;">Bueno</p>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="mechanicalFile.general_condition ==='regular'">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="help-circle-outline" style="font-size: 45px !important; color: #F7941D !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #F7941D !important;font-weight: bold;margin: 10px auto !important;">Regular</p>
          </ion-col>
        </ion-row>

        <ion-row *ngIf="mechanicalFile.general_condition ==='malo'">
          <ion-col size="12">
            <span style="font-size: 22px !important;font-weight: bold;">Condición del vehículo:</span>
          </ion-col>
          <ion-col size="5" style="text-align: right !important;">
            <ion-icon name="close-circle-outline" style="font-size: 45px !important; color: #EB0A1E !important"></ion-icon>
          </ion-col>
          <ion-col size="7"style="text-align: left !important;">
            <p style="font-size: 25px !important; color: #EB0A1E !important;font-weight: bold;margin: 10px auto !important;">Malo</p>
          </ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="12">
        <ion-list>
          <ion-item-group>
            <ion-item-divider>
              <ion-label>PARTE EXTERNA</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Piezas completas-Emblemas completos</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.part_emblems_complete" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.part_emblems_complete ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.part_emblems_complete ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.part_emblems_complete ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.part_emblems_complete ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Cepillos limpia parabrisas-Ducha Limpia parabrisas</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.wiper_shower_brushes_windshield" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.wiper_shower_brushes_windshield ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.wiper_shower_brushes_windshield ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.wiper_shower_brushes_windshield ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.wiper_shower_brushes_windshield ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Golpes</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.hits" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.hits ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.hits ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.hits ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.hits ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Rayones</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.scratches" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.scratches ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.scratches ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.scratches ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.scratches ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Estado de la pintura</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.paint_condition" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.paint_condition ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.paint_condition ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.paint_condition ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.paint_condition ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Faros-Luces</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.headlights_lights" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.headlights_lights ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.headlights_lights ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.headlights_lights ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.headlights_lights ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item-divider>
              <ion-label>REVISION GENERAL DEL VEHÍCULO</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Corneta-Accesorios</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.bugle_accessories" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.bugle_accessories ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.bugle_accessories ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.bugle_accessories ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.bugle_accessories ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Sistema de aire acondicionado</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.air_conditioning_system" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.air_conditioning_system ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.air_conditioning_system ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.air_conditioning_system ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.air_conditioning_system ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Radio reproductor</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.radio_player" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.radio_player ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.radio_player ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.radio_player ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.radio_player ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Luces de cortesia</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.courtesy_lights" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.courtesy_lights ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.courtesy_lights ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.courtesy_lights ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.courtesy_lights ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Estado de tapicería (Asientos techo, alfombras <br> y tapiceria de puertas</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.upholstery_condition" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.upholstery_condition ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.upholstery_condition ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.upholstery_condition ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.upholstery_condition ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Revisión del sistema del vehículo a traves de <br> tester inteligente o GTS</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.gts" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.gts ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.gts ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.gts ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.gts ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Luces del tablero</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.board_lights" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.board_lights ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.board_lights ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.board_lights ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.board_lights ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Presión de los neumáticos</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.tire_pressure" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.tire_pressure ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.tire_pressure ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.tire_pressure ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.tire_pressure ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Vida util del neumático</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.tire_life" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.tire_life ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.tire_life ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.tire_life ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.tire_life ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Estado de la batería-Bornes</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.battery_status_terminals" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.battery_status_terminals ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.battery_status_terminals ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.battery_status_terminals ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.battery_status_terminals ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Correas transmisoras</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.transmitter_belts" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.transmitter_belts ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.transmitter_belts ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.transmitter_belts ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.transmitter_belts ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Aceite de motor</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.motor_oil" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.motor_oil ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.motor_oil ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.motor_oil ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.motor_oil ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Refrigerante del motor-Envase</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.engine_coolant_container" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.engine_coolant_container ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.engine_coolant_container ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.engine_coolant_container ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.engine_coolant_container ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Estado del radiador</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.radiator_status" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.radiator_status ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.radiator_status ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.radiator_status ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.radiator_status ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Tubo de escape y soporte</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.exhaust_pipe_bracket" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.exhaust_pipe_bracket ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.exhaust_pipe_bracket ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.exhaust_pipe_bracket ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.exhaust_pipe_bracket ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Condición del tanque de combustible, tapa tubos, <br> mangueras y conexiones</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.fuel_tank_cover_pipes_hoses_connections" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.fuel_tank_cover_pipes_hoses_connections ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.fuel_tank_cover_pipes_hoses_connections ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.fuel_tank_cover_pipes_hoses_connections ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.fuel_tank_cover_pipes_hoses_connections ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Correo de distribución </ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.distribution_mail" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.distribution_mail ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.distribution_mail ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.distribution_mail ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.distribution_mail ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Bujías-Filtro de aire-Filtro de gasolina-fitro <br> anti polen</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.spark_plugs_air_filter_fuel_filter_anti_pollen_filter" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.spark_plugs_air_filter_fuel_filter_anti_pollen_filter ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.spark_plugs_air_filter_fuel_filter_anti_pollen_filter ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.spark_plugs_air_filter_fuel_filter_anti_pollen_filter ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.spark_plugs_air_filter_fuel_filter_anti_pollen_filter ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Sistema de combustible</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.fuel_system" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.fuel_system ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.fuel_system ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.fuel_system ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.fuel_system ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item-divider>
              <ion-label>SISTEMA DE FRENOS</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Freno estacionamiento</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.parking_break" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.parking_break ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.parking_break ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.parking_break ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.parking_break ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Bandas de freno y tambores</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.brake_bands_drums" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.brake_bands_drums ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.brake_bands_drums ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.brake_bands_drums ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.brake_bands_drums ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Pastillas de freno y discos</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.brake_pads_discs" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.brake_pads_discs ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.brake_pads_discs ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.brake_pads_discs ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.brake_pads_discs ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Tubos y mangueras de freno</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.brake_pipes_hoses" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.brake_pipes_hoses ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.brake_pipes_hoses ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.brake_pipes_hoses ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.brake_pipes_hoses ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Bomba de freno</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.master_cylinder" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.master_cylinder ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.master_cylinder ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.master_cylinder ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.master_cylinder ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Fluido de frenos</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.brake_fluid" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.brake_fluid ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.brake_fluid ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.brake_fluid ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.brake_fluid ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item-divider>
              <ion-label>TREN DELANTERO</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Bujes y mesetas</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.bushings_plateaus" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.bushings_plateaus ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.bushings_plateaus ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.bushings_plateaus ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.bushings_plateaus ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Muñones</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.stumps" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.stumps ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.stumps ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.stumps ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.stumps ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Terminales</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.terminals" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.terminals ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.terminals ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.terminals ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.terminals ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Barra estabilizadora</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.stabilizer_bar" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.stabilizer_bar ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.stabilizer_bar ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.stabilizer_bar ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.stabilizer_bar ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Rodamientos</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.bearings" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.bearings ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.bearings ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.bearings ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.bearings ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Tripoides y gomas</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.tripoids_rubbe_bands" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.tripoids_rubbe_bands ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.tripoids_rubbe_bands ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.tripoids_rubbe_bands ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.tripoids_rubbe_bands ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Amortiguadores y Espirales</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.shock_absorbers_coils" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.shock_absorbers_coils ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.shock_absorbers_coils ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.shock_absorbers_coils ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.shock_absorbers_coils ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

            <ion-item-divider>
              <ion-label>Mantenimiento en el concesionario</ion-label>
            </ion-item-divider>

            <ion-item>
              <ion-segment [value]="mechanicalFile.dealer_maintenance" [class.mLeft]="android === true || web === true" disabled="true">
                <ion-segment-button value="no" [class.segment-red]="mechanicalFile.dealer_maintenance ==='no'">
                  <ion-label>No</ion-label>
                </ion-segment-button>
                <ion-segment-button value="si" [class.segment-green]="mechanicalFile.dealer_maintenance ==='si'">
                  <ion-label>Si</ion-label>
                </ion-segment-button>
              </ion-segment>
            </ion-item>

            <ion-item>
              <ion-row>
                <ion-col size="12">
                  <ion-label>Estado general del vehículo</ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-segment [value]="mechanicalFile.general_condition" [class.mLeft]="android === true || web === true" disabled="true">
                    <ion-segment-button value="malo" [class.segment-red]="mechanicalFile.general_condition ==='malo'">
                      <ion-label>Malo</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="regular" [class.segment-orange]="mechanicalFile.general_condition ==='regular'">
                      <ion-label>Regular</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="bueno" [class.segment-yellow]="mechanicalFile.general_condition ==='bueno'">
                      <ion-label>Bueno</ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="excelente" [class.segment-green]="mechanicalFile.general_condition ==='excelente'">
                      <ion-label>Excelente</ion-label>
                    </ion-segment-button>
                  </ion-segment>
                </ion-col>
              </ion-row>
            </ion-item>

          </ion-item-group>

        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="backToTop">
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="chevron-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>